<div class="container" style="max-width: 800px">
	<h1>
		Weekly charts:
		<%= model.first_name %>
		<%= " " %>
		<%= model.last_name %>
	</h1>
	<p>From <%= begin_day %> to <%= end_day %></p>
	<br><br>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<div id="container-steps" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div id="container-distance" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div id="container-calories" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div id="container-sleep" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<style>.highcharts-credits{display:none}</style>
	<script>
	Highcharts.chart('container-steps', {
		chart: {
			type: 'area'
		},
		title: {
			text: null
		},
		xAxis: {
			type: 'datetime'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return this.value / 1000 + 'k';
				}
			}
		},
		tooltip: {
			pointFormat: '{series.name} made: <b>{point.y:,.0f}</b>'
		},
		plotOptions: {
			area: {
				pointStart: <%= begin_day_utc %>,
				pointInterval: 24 * 3600 * 1000
			}
		},
		series: [{
			name: 'steps',
			data: <%= steps_json %>,
			}]
		});

	Highcharts.chart('container-distance', {
		chart: {
			type: 'area'
		},
		title: {
			text: null
		},
		xAxis: {
			type: 'datetime'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return this.value + ' Km';
				}
			}
		},
		tooltip: {
			pointFormat: '{series.name} traveled: <b>{point.y:.2f} Km</b>'
		},
		plotOptions: {
			area: {
				pointStart: <%= begin_day_utc %>,
				pointInterval: 24 * 3600 * 1000
			}
		},
		series: [{
			name: 'distance',
			data: <%= distance_json %>,
			}]
		});

	Highcharts.chart('container-calories', {
		chart: {
			type: 'area'
		},
		title: {
			text: null
		},
		xAxis: {
			type: 'datetime'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return this.value / 1000 + 'K cal';
				}
			}
		},
		tooltip: {
			pointFormat: '{series.name} burned: <b>{point.y} cal</b>'
		},
		plotOptions: {
			area: {
				pointStart: <%= begin_day_utc %>,
				pointInterval: 24 * 3600 * 1000
			}
		},
		series: [{
			name: 'calories',
			data: <%= calories_json %>,
			}]
		});

	Highcharts.chart('container-sleep', {
		chart: {
			type: 'area'
		},
		title: {
			text: null
		},
		xAxis: {
			type: 'datetime'
		},
		yAxis: {
			title: {
				text: null
			},
			labels: {
				formatter: function () {
					return this.value / 1000 + 'K cal';
				}
			}
		},
		tooltip: {
			pointFormat: '{series.name} burned: <b>{point.y} cal</b>'
		},
		plotOptions: {
			area: {
				pointStart: <%= begin_day_utc %>,
				pointInterval: 24 * 3600 * 1000
			}
		},
		series: [{
			name: 'sleep',
			data: <%= calories_json %>,
			}]
		});


	</script>
	<hr>
	<a href="#">Weekly report</a><br>
	<a href="#">Montly report</a><br>
	<a href="#">Weekly graphs</a><br>
	<a href="#">Montly graphs</a><br>
	<br><br>
</div>
