<div class="container" style="max-width: 800px">
	<h1>
		Weekly report:
		<%= model.first_name %>
		<%= " " %>
		<%= model.last_name %>
	</h1>
	<p>From <%= begin_day %> to <%= end_day %></p>
	<div class="row">
		<div class="col-sm">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">MOST ACTIVE DAY OF THE WEEK</div>
				<div class="card-body">
					<h4 class="card-title">mer 13 set</h4>
					<!--p class="card-text">mer 13 set</p-->
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card text-white bg-danger mb-3">
				<div class="card-header">LEAST ACTIVE DAY OF THE WEEK</div>
				<div class="card-body">
					<h4 class="card-title">mer 13 set</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">TOTAL STEPS</div>
			<div class="card-body">
				<h4 class="card-title"><%= total_steps %> steps</h4>
			</div>
		</div>
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">-</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-primary">DAILY AVERAGE: 1400 steps</li>
				<li class="list-group-item list-group-item-primary">RECORD DAY: 5000 steps</li>
			</ul>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">TOTAL DISTANCE</div>
			<div class="card-body">
				<h4 class="card-title"><%= total_distance %> Km</h4>
			</div>
		</div>
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">-</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-primary">DAILY AVERAGE: 1,5 Km</li>
				<li class="list-group-item list-group-item-primary">RECORD DAY: 4,6 Km</li>
			</ul>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">BURNED CALORIES</div>
			<div class="card-body">
				<h4 class="card-title"><%= total_calories %> cal.</h4>
			</div>
		</div>
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">-</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-primary">DAILY AVERAGE: 1997 cal.</li>
				<li class="list-group-item list-group-item-primary">RECORD DAY: 3456 cal.</li>
			</ul>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">SLEEP LENGTH AVERAGE</div>
			<div class="card-body">
				<h4 class="card-title">7h 45min</h4>
			</div>
		</div>
	</div>
</div>
