<!--<table class="description">-->
  <!--<tr>-->
    <!--<td> <i>Descrizione: </i> </td>-->
    <!--<td> <b><#%= plan.desc %></b> </td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><i>Periodo:</i></td>-->
    <!--<td>dal <b> <#%= plan.from_day.strftime('%d/%m/%Y') %> </b>  al <b><#%= plan.to_day.strftime('%d/%m/%Y') %></b></td>-->
  <!--</tr>-->
  <!--<#% if options[:activities_count] %>-->
    <!--<tr>-->
      <!--<td><i>Attivita' sotto questo piano:</i></td>-->
      <!--<td><#%= plan.activities.count %></td>-->
    <!--</tr>-->
  <!--<#% end %>-->
<!--</table>-->







<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Piano: (<%= plan.name %>)</h4>
            <p class="category">Informazioni sul piano</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover content_align">

              <tbody>
              <tr>

                <td class="text-primary naming">Descrizione</td>
                <td><%= plan.desc %></td>

              </tr>
              <tr>
                <td class="text-primary naming">Periodo</td>
                <td>dal <b> <%= plan.from_day.strftime('%d/%m/%Y') %> </b>  al <b><%= plan.to_day.strftime('%d/%m/%Y') %></b></td>


              </tr>
              <% if options[:activities_count] %>
              <tr>
                <td class="text-primary naming">Attivita' sotto questo piano</td>
                <td class="label-success"><%= plan.activities.count %></td>
              </tr>
              <% end %>


              </tbody>
            </table>
          </div>
        </div>


    </div>
  </div>
</div>