<div align="center">
  <div class="content">
    <div class="container-fluid">
      <div class="centered-row row">
        <div class="centered-col col-md-4">
          <%= lateral_info %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" data-background-color="purple">
              <h4 class="title">Informazioni personali</h4>
              <p class="category">Riguardanti Salute, Attivita' Fisica, Benessere Mentale e le Strategie di
                Adattamento. </p>
            </div>

            <% user.invitations.each do |invitation| %>
              <div class="card-content">
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                    <th><%= invitation.questionnaire.title %></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <% total_score = 0 %>
                    <% invitation.questionnaire.questionnaire_questions.each do |question| %>
                      <tr>
                        <td><%= question.text %></td>
                        <td><%= invitation_questionnaire(invitation, question) %></td>


                          <% question.options.each do |opt| %>
                            <% total_score += opt.score %>



                        <% end %>


                      </tr>

                    <% end %>

                    </tbody>
                  </table>

                </div>
              </div>
<%#user.questionnaire_answer.questionnaire_question.options. %>

              <button class="btn btn-large btn-success btn-round">
                <i class="material-icons">golf_course</i>
                <%= "Punteggio totale: #{total_score}" %>
              </button>

            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>



