<div class="card-content">
  <div class="card-content table-responsive">
    <table class="table">
      <thead class="text-primary">
      <th>Salute</th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <td>Autovalutazione sulla salute (da 1 a 5)</td>
        <td><%= features.health_personality %></td>
      </tr>
      <tr>
        <td>Significato Benessere</td>
        <td><%= remove_first_char(features.health_wellbeing_meaning) %></td>
      </tr>
      <tr>
        <td>Abitudini Nutrizionali</td>
        <td><%= remove_first_char(features.health_nutritional_habits) %></td>
      </tr>
      <tr>
        <td>Acqua bevuta al giorno</td>
        <td><%= remove_first_char(features.health_drinking_water) %></td>
      </tr>
      <tr>
        <td>Verdura Mangiata</td>
        <td><%= remove_first_char(features.health_vegetables_eaten) %></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>