<!--<div class="card card-profile">-->
<!--<div class="card-avatar">-->
<!--<#%= image_tag profile_photo_url, alt: 'paziente', class: 'img' %>-->
<!--</div>-->

<!--<div class="content">-->
<!--<h6 class="category text-gray">Paziente</h6>-->
<!--<h4 class="card-title"><#%= "#{user.last_name} #{user.first_name}" %></h4>-->
<!--<p class="card-content">-->
<!--<table class="table">-->
<!--<tbody class="text-primary">-->

<!--<tr>-->
<!--<td>-->
<!--Eta'-->
<!--</td>-->
<!--<td>-->
<!--<#%= user.age %>-->
<!--</td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>-->
<!--Numero Cellulare-->
<!--</td>-->
<!--<td>-->
<!--<#%= user.cellphone %>-->
<!--</td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>-->
<!--Email-->
<!--</td>-->
<!--<td>-->
<!--<#%= user.email %>-->
<!--</td>-->
<!--</tr>-->

<!--<#% unless user.py_cluster.nil? %>-->
<!--<tr>-->
<!--<td>-->
<!--Il sistema ha classificato il paziente come-->
<!--</td>-->
<!--<td>-->
<!--<#%= cluster %>-->
<!--</td>-->
<!--</tr>-->
<!--<#% end %>-->

<!--</tbody>-->
<!--</table>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<div class="card card-profile user_card">
  <div class="card-avatar">
    <%= image_tag profile_photo_url, alt: 'paziente', class: 'img' %>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header" data-background-color="orange">
        <h4 class="title"><%= "#{user.last_name} #{user.first_name}" %></h4>
        <p class="category">Profilo del paziente</p>
        <p> Registrato a: <%= user.created_at.strftime("%d %b. %Y") %></p>
      </div>

      <!--<div class="user-level container col-md-offset-3">-->
        <!--<div class="user-card-n">-->
          <!--<#% if user.profiled? %>-->
            <!--<#% if user.py_cluster == 'HIGH' %>-->
              <!--<a href="<#%= features_users_path(user) %>">-->

                <!--<i class="material-icons md-36 molto">mood</i>-->
                <!--Molto Attivo-->

              <!--</a>-->
            <!--<#% elsif user.py_cluster == 'MEDIUM' %>-->
              <!--<a href="<#%= features_users_path(user) %>">-->

                <!--<i class="material-icons md-36 moderate">sentiment_neutral</i>Moderatamente Attivo-->

              <!--</a>-->
            <!--<#% elsif user.py_cluster == 'LOW' %>-->
              <!--<a href="<#%= features_users_path(user) %>">-->

                <!--<i class="material-icons md-36 pocco">mood_bad</i>Poco Attivo-->


              <!--</a>-->
            <!--<#% end %>-->
          <!--<#% end %>-->
        <!--</div>-->
      <!--</div>-->



      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead>
          <th>Età</th>
          <th><%= user.age %></th>


          </thead>
          <tbody>
          <tr>
            <td>Numero Cellulare</td>
            <td><%= user.cellphone %></td>


          </tr>
          <tr>
            <td> Email</td>
            <td><%= user.email %></td>


          </tr>
          <% unless user.py_cluster.nil? %>
            <tr>

              <td>Classificazione del paziente</td>
              <td class="font_style"><%= cluster %></td>


            </tr>
          <% end %>


          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>





