



<div class="card card-profile user_card">
  <div class="card-avatar">
    <%= image_tag profile_photo_url, alt: 'paziente', class: 'img' %>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header" data-background-color="orange">
        <h4 class="title"><%= "#{user.last_name} #{user.first_name}" %></h4>
        <p class="category">Profilo del paziente</p>
        <p> Registrato a: <%= user.created_at.strftime("%d %b. %Y") %></p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead>
          <th><i class="material-icons">cake</i></th>
          <th><%= user.age %></th>
          </thead>
          <tbody>
          <tr>
            <td> <i class="material-icons">wc</i></td>
            <td><%= user.gender %></td>
          </tr>
          <tr>
            <% if user.patient_objective == nil %>
              <td>Obiettivo del paziente</td>
              <td>Non assegnato</td>
            <% else %>
              <td><i class="material-icons">golf_course</i></td>
              <td><%= user.patient_objective %></td>
            <% end %>
          </tr>


          <tr>
            <td><i class="material-icons">phone</i></td>
            <td><%= user.cellphone %></td>
          </tr>
          <tr>
            <td> <i class="material-icons">mail</i></td>
            <td><%= user.email %></td>
          </tr>
          <tr>
            <td> <i class="material-icons">watch</i></td>
            <% if user.fitbit_status = "fitbit_disabled" %>
              <td>Disabilitato</td>
            <% elsif user.fitbit_status = "fitbit_invited" %>
              <td>invitato</td>
            <% else %>
              <td>abilitato</td>
            <% end %>

          </tr>
          <tr>
            <td> <i class="material-icons">border_vertical</i></td>
            <td><%= "#{user.height} CM"%></td>
          </tr>
          <tr>
            <td> <i class="material-icons">slow_motion_video</i></td>
            <td><%= "#{user.weight} KG"%></td>
          </tr>
          <tr>
            <td><i class="material-icons">add_location</i></td>
            <td><%= user.blood_type %></td>
          </tr>

          <% unless user.py_cluster.nil? %>
            <tr>

              <td><i class="material-icons">directions_run</i></td>
              <td class="font_style"><%= cluster %></td>
            </tr>
          <% end %>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>


