<div class="card-content">
  <div class="card-content table-responsive">
    <table class="table">
      <thead class="text-primary">
      <th>Attivita' Fisica</th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <td>Sport Preferito</td>
        <td><%= remove_first_char(features.physical_sport) %></td>
      </tr>
      <tr>
        <td>Frequenza con la quale pratica</td>
        <td><%= remove_first_char(features.physical_sport_frequency) %></td>
      </tr>
      <tr>
        <td>Intensita con la quale pratica</td>
        <td><%= remove_first_char(features.physical_sport_intensity) %></td>
      </tr>
      <tr>
        <td>Attivita Fisica al Lavoro</td>
        <td><%= decode_work_physical_activity(features.work_physical_activity) %></td>
      </tr>
      <tr>
        <td>Gira a piedi o in bici</td>
        <td><%= decode_foot_bicycle(features.foot_bicycle) %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>