
<%= link_to communication_path(communication) do %>
  <li class="<%= compute_class %> mdl-menu__item">
    <input type="hidden" class="communication_hidden" value="<%= communication.id %>">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <i class="material-icons">notifications</i>
            <span class="notification"><%= communication.text %></span>
        </li>
      </ul>
    </div>

  </li>
  <div class="communication-hour">
    <%= time %>
  </div>

  <div class="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">

        <div class="btn btn-success btn-xs"> <%= link_to features_users_path(communication.user_id) do %>
           Vedi
          <% end %></div>
        <div class="btn btn-info btn-xs"><%= link_to plans_users_path(communication.user_id) do %>
          Piani
        <% end %></div>
          <div class="btn btn-warning btn-xs"><%= link_to chat_chats_path(communication.user_id) do %>
          Chat
        <% end %></div>
      <div class="btn btn-secondary btn-xs"><%= link_to show_coach_users_path(communication.coach_user_id) do %>
          Admin
        <% end %></div>

    </ul>

  </div>
  <hr width="50%" style="border-style: dotted;">
<% end %>

