<div class="container" style="max-width: 800px">
	<%= cell(:weekly_report, model, tab: :month_repo).(:navigation) %>
	<p>From <%= begin_day %> to <%= end_day %></p>
	<div class="row">
		<div class="col-sm">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">MOST ACTIVE DAY OF THE MONTH</div>
				<div class="card-body">
					<h4 class="card-title"><%= most_active_day %></h4>
					<!--p class="card-text">mer 13 set</p-->
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card text-white bg-danger mb-3">
				<div class="card-header">LEAST ACTIVE DAY OF THE MONTH</div>
				<div class="card-body">
					<h4 class="card-title"><%= least_active_day %></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">TOTAL STEPS</div>
			<div class="card-body">
				<h4 class="card-title"><%= total_steps %> steps</h4>
			</div>
		</div>
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">-</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-primary">DAILY AVERAGE: <%= daily_steps_average %> steps</li>
				<li class="list-group-item list-group-item-primary">RECORD DAY: <%= record_steps %> steps</li>
			</ul>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">TOTAL DISTANCE</div>
			<div class="card-body">
				<h4 class="card-title"><%= total_distance %> Km</h4>
			</div>
		</div>
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">-</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-primary">DAILY AVERAGE: <%= daily_distance_average %> Km</li>
				<li class="list-group-item list-group-item-primary">RECORD DAY: <%= record_distance %> Km</li>
			</ul>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">BURNED CALORIES</div>
			<div class="card-body">
				<h4 class="card-title"><%= total_calories %> cal.</h4>
			</div>
		</div>
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">-</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-primary">DAILY AVERAGE: <%= daily_calories_average %> cal.</li>
				<li class="list-group-item list-group-item-primary">RECORD DAY: <%= record_calories %> cal.</li>
			</ul>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-white bg-primary mb-3">
			<div class="card-header">SLEEP LENGTH AVERAGE</div>
			<div class="card-body">
				<h4 class="card-title"><%= sleep_length_h %>h <%= sleep_length_min %>min</h4>
			</div>
		</div>
	</div>
	<hr>
	<a href="#">Weekly report</a><br>
	<a href="#">Montly report</a><br>
	<a href="#">Weekly graphs</a><br>
	<a href="#">Montly graphs</a><br>
	<br><br>
</div>
