<div class="container" style="max-width: 800px">
	<h1>
		Obiettivi:
		<%= model.first_name %>
		<%= " " %>
		<%= model.last_name %>
	</h1>
	<p>Obiettivo corrente:</p>
	<% if model.active_objective %>
		<%= cell(:objective, model.active_objective).(:table) %>
	<% else %>
		<div class="alert alert-warning" role="alert">
			Non vi è nessuno obiettivo corrente al momento per questo utente.
		</div>
	<% end %>
	<hr>
	<p>Obiettivi programmati:</p>
	<div class="alert alert-warning" role="alert">
		Non vi è nessuno obiettivo programmato al momento per questo utente.
	</div>
	<hr>
	<p>Obiettivo terminati:</p>
	<div class="alert alert-warning" role="alert">
		Non vi è nessuno obiettivo terminato al momento per questo utente. Un obiettivo sarà terminato nel momento in cui
		la data di scadenza per quell'obiettivo è superata.
	</div>
	<hr>
	<%= link_to "Nuovo obiettivo", new_user_objective_path(model), class: 'btn btn-primary' %>
</div>
