
<%= div_personal do %>
    <input type="hidden" class="message_hidden" value="<%= message.id %>">



    <div class="chat-history">
      <ul>
        <li class="clearfix">
          <div class="message-data <%= style %>">
            <span class="avatar" ><%= img_style %></span>
          </div>

          <div class="<%= msg_style %>">
            <p><%= text %></p>

            <p class="time_style">  <%= "Inviato: "+ time %></p>

          </div>

        </li>

        <!--<li>-->
          <!--<div class="message-data">-->
            <!--<span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>-->
            <!--<span class="message-data-time">10:12 AM, Today</span>-->
          <!--</div>-->
          <!--<div class="message my-message">-->
            <!--Are we meeting today? Project has been already finished and I have results to show you.-->
          <!--</div>-->
        <!--</li>-->


      </ul>

    </div> <!-- end chat-history -->



<% end %>










<!--<div class="container clearfix">-->


  <!--<div class="chat">-->
    <!--<div class="chat-header clearfix">-->
      <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />-->

      <!--<div class="chat-about">-->
        <!--<div class="chat-with">Chat with Vincent Porter</div>-->
        <!--<div class="chat-num-messages">already 1 902 messages</div>-->
      <!--</div>-->
      <!--<i class="fa fa-star"></i>-->
    <!--</div> &lt;!&ndash; end chat-header &ndash;&gt;-->

    <!--<div class="chat-history">-->
      <!--<ul>-->
        <!--<li class="clearfix">-->
          <!--<div class="message-data align-right">-->
            <!--<span class="message-data-time" ><time><#%= time %></time></span> &nbsp; &nbsp;-->
            <!--<span class="message-data-name" >Olia <#%= img_style %></span> <i class="fa fa-circle me"></i>-->

          <!--</div>-->
          <!--<div class="message other-message float-right">-->
            <!--<#%= text %>-->
          <!--</div>-->
        <!--</li>-->

        <!--<li>-->
          <!--<div class="message-data">-->
            <!--<span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>-->
            <!--<span class="message-data-time">10:12 AM, Today</span>-->
          <!--</div>-->
          <!--<div class="message my-message">-->
            <!--Are we meeting today? Project has been already finished and I have results to show you.-->
          <!--</div>-->
        <!--</li>-->


      <!--</ul>-->

    <!--</div> &lt;!&ndash; end chat-history &ndash;&gt;-->

    <!--<div class="chat-message clearfix">-->
      <!--<textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>-->

      <!--<i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;-->
      <!--<i class="fa fa-file-image-o"></i>-->

      <!--<button>Send</button>-->

    <!--</div> &lt;!&ndash; end chat-message &ndash;&gt;-->

  <!--</div> &lt;!&ndash; end chat &ndash;&gt;-->

<!--</div> &lt;!&ndash; end container &ndash;&gt;-->
