<%= provide(:title, "Lista Pazienti") %>
<div>
  <%= cell(:users_index_menu, current_coach_user) %>
  <div id="patients">
    <div class="users-index"></div>
    <% if @users.empty? %>
      <br>




      <div class="row">


        <div class="column container">


          <br>
          <div class="card">
            <div class="thumb_image"></div>
<!--            <img src="/images/activities.jpg" alt="CoachAI" style="width:100%">-->
            <div class="container">
              <h2><i class="material-icons md-36">weekend</i> Nessun Paziente registrato</h2>

              <p>Nell'archivio non e' presente nessun paziente per il momento. Inserisci un nuovo paziente attraverso il
                bottone verde in basso a destra.</p>

              <p><br>
                <%= link_to new_user_path, class: 'mdl-navigation__link' do %>
                  <button id="new-users" class="button">
                    <i class="material-icons">create</i>  Nuovo Paziente

                  </button>
                <% end %>

              </p>
            </div>
          </div>
        </div>

      </div>

    <% end %>
    <div class="mdl-grid mdl-cell--3-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell">
        <!-- add content here -->
      </div>
      <div class="mdl-cell middle_align col-lg-offset-3">
        <% if @users.exists? %>
        <%= link_to new_user_path, class: 'mdl-navigation__link' do %>
          <button id="new-users" class="btn btn-success btn-lg">
            <i class="material-icons">create</i> &nbsp Nuovo Paziente

          </button>
        <% end %>

          <%= link_to users_path(format: :csv), class: 'mdl-navigation__link' do %>
            <button class="btn btn-info btn-lg">
              <i class="material-icons">vertical_align_bottom</i> &nbsp scarica i dati degli utenti
            </button>
          <% end %>
        <% end %>


        <!-- also here -->
      </div>
      <div class="mdl-cell">
        <!-- and probably also here -->
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>

    <div class="row user_pic_align">
      <div class="container">
        <% @users.each do |user| %>
          <%= cell(:user, user) %>
        <% end %>


      </div>
    </div>


  </div>
  <div class="mdl-grid mdl-cell--3-col">

    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>

</div>
