<%= provide(:title, "Registra Paziente") %>
<% provide(:sub_title, 'Nuovo Paziente') %>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header patient_profile" >
                <h4 class="title">Inserisci qui i dati del nuovo paziente</h4>
                <p class="category">Registrazione del profilo del paziente</p>
              </div>
              <div class="card-content">

                <div id="new-user-notice" class="notice"></div>
                Tutti i campi sono obbligatori!
                <div class="insert-error-msg"><%= yield(:insert_error_msg) %></div>
                <%= form_for @user, url: users_path, method: 'post' do |f| %>

                  <div id="name">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <i class="material-icons">hdr_weak</i>
                      <%= f.text_field :last_name, class: 'mdl-textfield__input', placeholder: 'Nome' %>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <i class="material-icons">hdr_strong</i>
                      <%= f.text_field :first_name, class: 'mdl-textfield__input', placeholder: 'Cognome'%>
                    </div>
                  </div>

                  <div id="name">
                    <div id="age">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <i class="material-icons">cake</i>
                        <%= f.number_field :age, class: 'mdl-textfield__input', pattern: '-?[0-9]*(\.[0-9]+)?', placeholder: 'Eta\'' %>
                        <span class="mdl-textfield__error">Deve essere formato da numeri e non lettere!</span>
                      </div>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <i class="material-icons">edit_location</i>
                      <%= f.text_field :patient_objective, class: 'mdl-textfield__input', placeholder: 'Obiettivo' %>
                    </div>
                  </div>

                  <div id="name">
                    <div id="phone">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <i class="material-icons">phonelink_ring</i>
                        <%= f.text_field :cellphone, class: 'mdl-textfield__input', pattern: '-?[0-9]*(\.[0-9]+)?', placeholder: 'Numero cell (solo numeri)' %>
                        <span class="mdl-textfield__error">Deve essere formato da numeri e non lettere!</span>
                      </div>
                    </div>

                    <div id="email">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <i class="material-icons">email</i>
                        <%= f.text_field :email, class: 'mdl-textfield__input', type: 'email', placeholder: 'Email (Es. user@example.com)' %>
                        <span class="mdl-textfield__error">Inserire un indirizzo email valido!</span>
                      </div>
                    </div>
                  </div>
                  <div id="name">
                    <div id="height">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.label :height, 'Altezza*' %><br>
                        <%= f.number_field :height, in: 0..200, step: 0.1 %>
                      </div>
                    </div>

                    <div id="weight">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <%= f.label :weight, 'Peso*' %><br>
                        <%= f.number_field :weight, in: 0..300, step: 0.5 %>
                      </div>
                    </div>
                  </div>

                  <div id="name">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <i class="material-icons">wc</i>
                      <%= f.select(:gender) do %>
                        <% [['Maschio', 'maschio'], ['Femmina', 'femmina']].each do |c| -%>
                          <%= content_tag(:option, c.first, value: c.last) %>
                        <% end %>
                      <% end %>
                    </div>


                    <div id="blood_type">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <i class="material-icons">add_location</i>
                        <%= f.select(:blood_type) do %>
                          <% [['O Negativo', 'o negativo'], ['O Positivo', 'o positivo'], ['A Negativo', 'a negativo'], ['A Positivo', 'a positivo'], ['B Negativo', 'b negativo'], ['B Positivo', 'b positivo'], ['AB Negativo', 'ab negativo'], ['AB Positivo', 'ab positivo'],].each do |c| -%>
                            <%= content_tag(:option, c.first, value: c.last) %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>

<hr>
                  <div id ="contact">

                    <div role="alert">
                      Ad ogni nuovo paziente puoi associare dei TAG scegliendoli dalla lista sottostante oppure inventandotene di nuovi.
                    </div>
                    <!-- Ignore this shitty style in view! -->
                    <ul style="clear: both; display: block; content: '';">
                      <% if ActsAsTaggableOn::Tag.count == 0 %>
                        <li class="list-group-item list-group-item-success" >Non sono ancora presenti TAG nel sistema. Inizia ad inserirne con questo nuovo paziente.</li>
                      <% else %>
                        <% ActsAsTaggableOn::Tag.all.each do |tag| %>
                          <li class="list-group-item list-group-item-success" style="float: left; margin-right: 7px; margin-bottom: 7px;"><%= tag.name %></li>
                        <% end %>
                      <% end %>
                    </ul>

                    <br>
                    <div class="form-group">
                      <%= f.text_field :tag_list, class: 'form-control', placeholder: 'Inserisci qui i TAG separati da virgola', value: @user.tag_list.to_s %>
                    </div>

                    <%#= f.collection_check_boxes :questionnaire_ids, Questionnaire.all, :id, :title %>






                    <div class="questionnaires-list">
                      <!------ Include the above in your HEAD tag ---------->

                      <main class="container pt-5 list-group">
                        <div class="card mb-5">
                          <div class="card-header">Questionari</div>
                          <div class="card-block p-0">
                            <table class="table table-bordered table-sm m-0">
                              <thead class="">
                              <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <!--                                  <th>Description</th>-->
                                <th>Creato</th>

                              </tr>
                              </thead>
                              <tbody>
                              <% Questionnaire.all.each do |questionnaire| %>
                                <tr>
                                  <td>
                                    <label class="custom-control custom-checkbox ">


                                      <%= check_box_tag "questionnaires_ids[]", questionnaire.id, inline_label: questionnaire.title, type: "checkbox", class: "custom-control-indicator custom-control-input" %>

                                    </label>
                                  </td>
                                  <td>  <%= questionnaire.title %> </td>

                                  <!--                                  <td><%#= questionnaire.desc %></td>-->
                                  <td><%= questionnaire.created_at.strftime("%D") %></td>

                                </tr>
                              <% end %>

                              </tbody>
                            </table>
                          </div>

                        </div>
                      </main>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-large pull-right"><i class="material-icons">add</i> &nbsp Inserire Profilo</button>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
