<% provide(:sub_title, 'Patients') %>

<div>
  <%= render 'users/edit_header' %>
  <div id="patient">

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class="mdl-grid">
      <div class="mdl-cell--8-col">

        <% @plans.each do |plan| %>

            <div class="plan-card-wide mdl-card mdl-shadow--2dp">

              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"> <%= plan.name %> </h2>
              </div>

              <div class="mdl-card__supporting-text">
                <%= plan.desc %>
              </div>

              <% if plan.plannings.empty? %>
                  <br>Non sono presenti attivita' per questo piano al momento.<br>
              <% end %>

              <% plan.plannings.each do |planning| %>

                <div class="mdl-card__actions mdl-card--border">

                  <div class="activities-container">

                    <details class="activity-expander mdl-expansion">
                      <summary class="mdl-expansion__summary">
                        <span id="activity-name-styler" class="mdl-expansion__header"><%= planning.activity.name %></span>
                      </summary>

                      <div class="mdl-expansion__content">
                        <br>
                        <%= planning.activity.desc %>
                        <br>

                        <h5>Orari</h5>
                        <% if !planning.schedules.empty? %>
                          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                              <th>Data</th>
                              <th>Giorno</th>
                              <th>Ora</th>
                            </tr>
                            </thead>

                            <tbody>

                            <% planning.schedules.each do |schedule| %>
                                <tr>
                                  <td class="mdl-data-table__cell--non-numeric">
                                    <% if schedule.date %>
                                      <%= schedule.date %>
                                    <% else %>
                                        <div class="red-col">
                                          /
                                        </div>
                                    <% end %>
                                  </td>

                                  <td>
                                    <% if schedule.day %>
                                        <%= schedule.day_of_week(schedule.day) %>
                                    <% else %>
                                        <div class="red-col">
                                          /
                                        </div>
                                    <% end %>
                                  </td>

                                  <td>
                                    <% if schedule.time %>
                                        <%= schedule.time %>
                                    <% else %>
                                        <div class="red-col">
                                          /
                                        </div>
                                    <% end %>
                                  </td>

                                  <td>
                                    <%= link_to 'Elimina ', schedule_path(schedule), method: 'delete',
                                    data: {confirm: 'Sei sicuro di voler eliminare l\'orario?'},
                                    class: 'mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect' %>
                                  </td>

                                </tr>

                            <% end %>

                            </tbody>
                          </table>

                        <% else %>
                            <br>
                            <div>
                              Per ora non e' stato definito nessun orario. Inserisci un nuovo orario attraverso il bottone in basso.
                            </div>

                        <% end %>



                        <h5>Domande di verifica</h5>
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                          <thead>
                          <tr>
                            <th>Domanda</th>
                            <th>Tipologia</th>
                            <th>Risposte</th>
                          </tr>
                          </thead>

                          <tbody>

                          <%  planning.activity.questions.each do |question| %>
                          <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                              <%= question.text %>
                            </td>

                            <td>
                              <%= question.q_type %>
                            </td>

                            <td>
                              <% question.answers.each_with_index do |answer, index| %>
                                  <% if index!=question.answers.size-1 %>
                                      <%= "#{answer.text}, " %>
                                  <% else %>
                                      <%= "#{answer.text} " %>
                                  <% end %>
                              <% end %>
                            </td>

                            <td>
                              Elimina Domanda
                            </td>

                          </tr>
                          <% end %>

                          </tbody>
                        </table>
                        <br>
                      </div>

                      <div class="mdl-expansion__actions">
                        <%= link_to 'Aggiungi Orario', new_schedule_path(:planning_id => planning.id) ,
                                    method: 'get', class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>

                        <%= link_to 'Aggiungi Domanda', new_questions_path(:a_id => planning.activity.id, :u_id => plan.user.id) ,
                                    method: 'get', class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>

                        <%= link_to 'Destituisci Attivita', planning_path(planning) ,
                                    method: 'delete', class: 'mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect' %>
                      </div>

                    </details>


                  </div>

                </div>

              <% end %>

              <div>
                <br><br>
                <%= button_to 'Aggiungi una nuova attivita al Piano',
                              new_plannings_path(:p_id => plan.id, :u_id => plan.user.id), method: 'post',
                              class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%><br>
                <%= button_to 'Elimina Piano',
                              plan_path(:p_id => plan.id, :u_id => plan.user.id), method: 'delete',
                              class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent',
                              data: {confirm: 'Sei sicuro di voler eliminare il piano? Una volta eliminato non potra\' piu\'
                              essere ripristinato! Tuttavia le Attivita\' non verranno cancellate, ma le ritrovarai nella sezione Attivita\'!'}%>
              </div>

            </div>
            <br>
      <% end %>
        <br>
        <%= button_to new_plans_path(:u_id => @user.id), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored', method: 'get' do %>
            Aggiungi un nuovo piano
        <% end %>

      </div>

      <div class="mdl-cell--1-col"></div>

      <div class="mdl-cell--3-col">
        <div class="mdl-cell--12-col">

        </div>
        <div class="mdl-cell--12-col">

        </div>
      </div>

    </div>


  </div>

</div>