<% provide(:sub_title, 'Patients') %>

<div>
  <%= render 'users/edit_header' %>
  <div id="patient">

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class="mdl-grid">
      <div class="mdl-cell--8-col">

        <% @plans.each do |p| %>

            <div class="plan-card-wide mdl-card mdl-shadow--2dp">

              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"> <%= p.name %> </h2>
              </div>

              <div class="mdl-card__supporting-text">
                <%= p.desc %>
              </div>

              <% p.activity.each do |a| %>

                <div class="mdl-card__actions mdl-card--border">

                  <div class="activities-container">

                    <details class="activity-expander mdl-expansion">
                      <summary class="mdl-expansion__summary">
                        <span id="activity-name-styler" class="mdl-expansion__header"><%= a.name %></span>
                      </summary>

                      <div class="mdl-expansion__content">
                        <%= a.desc %>
                        <br>

                        <h5>Orari</h5>

                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                          <thead>
                          <tr>
                            <th>Data</th>
                            <th>Giorno</th>
                            <th>Ora</th>
                          </tr>
                          </thead>

                          <tbody>

                          <% a.a_schedule.each do |a_schedule| %>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <% if a_schedule.date %>
                                    <%= a_schedule.date %>
                                  <% else %>
                                      <div class="red-col">
                                        Nessuna Data
                                      </div>
                                  <% end %>
                                </td>

                                <td>
                                  <% if a_schedule.day %>
                                      <%= a_schedule.day_of_week(a_schedule.day) %>
                                  <% else %>
                                      <div class="red-col">
                                        Nessun Giorno
                                      </div>
                                  <% end %>
                                </td>

                                <td>
                                  <% if a_schedule.time %>
                                      <%= a_schedule.time %>
                                  <% else %>
                                      <div class="red-col">
                                        Nessuna Ora
                                      </div>
                                  <% end %>
                                </td>

                                <td>
                                  <%= link_to 'Elimina ', a_schedule_path(a_schedule, :u_id => @user.id), method: 'delete',
                                  data: {confirm: 'Sei sicuro di voler eliminare l\'orario?'},
                                  class: 'mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect' %> </td>
                                </td>
                              </tr>
                          <% end %>

                          </tbody>
                        </table>


                        <h5>Domande di verifica</h5>
                        <li>Domanda 1</li>
                        <li>Domanda 2</li>
                        <br>
                      </div>

                      <div class="mdl-expansion__actions">
                        <button class="mdl-expansion__action mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Aggiungi Orario</button>

                        <%= link_to 'Aggiungi Orario', new_a_schedule_path(:a_id => a.id, :u_id => @user.id) ,
                                    method: 'get', class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>

                        <%= link_to 'Destituisci Attivita', dissociate_activities_path(:a_id => a.id, :p_id => p.id, :u_id => @user.id) ,
                                    method: 'post', class: 'mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect' %>
                      </div>

                    </details>


                  </div>

                </div>

              <% end %>

              <div>
                <br><br>
                <%= button_to 'Aggiungi una nuova attivita al Piano',
                              new_assign_activities_path(:p_id => p.id, :u_id => @user.id), method: 'post',
                              class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%><br>
                <%= button_to 'Elimina Piano',
                              plan_path(:p_id => p.id, :u_id => @user.id), method: 'delete',
                              class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent',
                              data: {confirm: 'Sei sicuro di voler eliminare il piano? Una volta eliminato non potra\' piu\'
                              essere ripristinato! Tuttavia le Attivita\' non verranno cancellate, ma le ritrovarai nella sezione Attivita\'!'}%>
              </div>

            </div>
            <br>
      <% end %>
        <br>
        <%= button_to new_plans_path(:u_id => @user.id), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored', method: 'get' do %>
            Aggiungi un nuovo piano
        <% end %>

      </div>

      <div class="mdl-cell--1-col"></div>

      <div class="mdl-cell--3-col">
        <div class="mdl-cell--12-col">

        </div>
        <div class="mdl-cell--12-col">

        </div>
      </div>

    </div>


  </div>

</div>