<div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout__content">

    <div class="header-grid alwaysbreak mdl-grid">


      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-cell">
        <div id="pdf-header-card" class="mdl-card">

          <div class="mdl-card__supporting-text">
            <h4>Piani ed Attivita' di <b> <%= "#{@plans[0].user.first_name} #{@plans[0].user.last_name}" %> </b></h4>

            <%= image_tag wicked_pdf_asset_base64('pdf_head.jpg'), class: 'header-img'%><br>

            Nel documento seguente troverai tutti i dettagli riguardanti le attivita' definite dal coach <%= "#{@plans[0].user.coach_user.first_name} #{@plans[0].user.coach_user.last_name}" %>
          </div>

          <div id="pdf-actions" class="mdl-card__actions">
            <%= link_to home_index_path, class: 'mdl-button' do %>
                Ulteriori Dettagli su Coach AI
            <% end %>
          </div>

        </div>
      </div>



      <% @plans.each do |plan| %>

        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-cell">

          <div id="pdf-plan-card" class="mdl-card">

            <div class="mdl-card__title">
              <h4 class="mdl-cell mdl-cell--12-col-desktop"> <%= plan.name %> </h4>
            </div>

            <div class="mdl-card__supporting-text">
              <div class="mdl-cell mdl-cell--12-col-desktop">
                Descrizione
                <div id="pdf-activity-card" class="nobreak mdl-card">
                  <h6 class="mdl-cell mdl-cell--12-col"><%= plan.desc %></h6>
                </div>
              </div>
              <br><br>

              Attivita sotto questo piano
              <% plan.activities.each do |activity| %>
                  <div id="pdf-activity-card" class="nobreak mdl-card">

                    <div class="mdl-card__title">

                      <div class="mdl-cell--12-col-desktop">
                        <%= image_tag wicked_pdf_asset_base64('doc-bot.png'), id: 'activity_img', class: 'mdl-cell mdl-cell--12-col'%>
                        <h4 class="mdl-cell mdl-cell--12-col"> <%= activity.name %> </h4>
                      </div>


                    </div>

                    <div class="mdl-card__supporting-text">

                      <div class="mdl-cell--12-col-desktop">
                        <div id="pdf-activity-desc-card" class="nobreak mdl-card">
                          <h6 class="mdl-cell mdl-cell--12-col"><%= activity.desc %></h6>
                        </div>
                      </div>

                    </div>

                  </div>
                  <br>
              <% end %>
            </div>

            <div id="pdf-actions" class="mdl-card__actions">
              <div class="mdl-button">Durata del piano</div>
            </div>

          </div>

        </div>
          <br>


      <% end %>

  </div>
</div>

</div>