<div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout__content">
    <div class="mdl-grid header-grid">
      <div class="no_break">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-cell">
          <div class="pdf-header-img-cont mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>Piani ed Attivita' di <b> <%= "#{@plans[0].user.first_name} #{@plans[0].user.last_name}" %> </b></h4>

              <%= image_tag wicked_pdf_asset_base64('pdf_head'), class: 'pdf-header-img' %><br>

              Nel documento seguente troverai tutti i dettagli riguardanti le attivita' definite dal coach <%= "#{@plans[0].user.coach_user.first_name} #{@plans[0].user.coach_user.last_name}" %>
            </div>
            <div class="mdl-card__actions">
              <%= link_to home_index_path, class: 'mdl-button' do %>
                  Ulteriori Dettagli su Coach AI
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="alwaysbreak"></div>
    <% @plans.each do |plan| %>
        <div class="nobreak mdl-grid plan-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-cell">
              <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__title">
                  <h4 class="mdl-cell mdl-cell--12-col"> <%= plan.name %> </h4>
                  <div class="mdl-card__subtitle-text mdl-cell mdl-cell--12-col">
                    <h6> <%= plan.desc %> </h6>
                  </div>
                </div>
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                  <% plan.activities.each do |activity| %>
                      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <div class="activity-icon section__circle-container__circle mdl-color--primary">
                          <%= image_tag wicked_pdf_asset_base64('doc-bot.png'), class: 'activity-icon-img' %>
                        </div>
                      </div>
                      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5> <%= activity.name %> </h5>
                        <%= activity.a_type %>
                      </div>
                  <% end %>
                </div>
                <div class="mdl-card__actions">
                  <div class="mdl-button">Durata del piano</div>
                </div>
              </div>
          </div>
        </div>
        <div class="alwaysbreak"></div>
    <% end %>

  </div>
</div>