<div class="container">

  <div id="pdf-header" class="jumbotron">
    <div class="container pdf-container">

      <div class="row">
        <div class="col-xs-3">
          <%= image_tag wicked_pdf_asset_base64('logo.png'), class: 'header-img'%><br>
        </div>
        <div class="col-xs-6">
          <h2>Piani ed Attività di <b> <%= "#{@plans[0].user.first_name} #{@plans[0].user.last_name}" %> </b></h2>
          <p>
            Nel documento seguente troverai tutti i dettagli riguardanti le attività definite dal coach <%=
            "#{@plans[0].user.coach_user.first_name} #{@plans[0].user.coach_user.last_name}" %>
          </p>
        </div>
        <div class="col-xs-3">
          <%= image_tag wicked_pdf_asset_base64('pdf_head.jpg'), class: 'header-img'%><br>
        </div>
      </div>

    </div>
  </div>


  <% @plans.each do |plan| %>
      <div class="media">
        <div class="media-left">
           <%= image_tag wicked_pdf_asset_base64('rsz_plan_ico.png'), class: 'media-object'%>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Piano <u><b><%= plan.name %></b></u></h4>

          <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Dettagli</h3>
            </div>

            <div class="panel-body">

              <ul class="list-group">
                <li class="list-group-item list-group-item-danger"><b>Descrizione: </b> <%= plan.desc %></li>
                <li class="list-group-item list-group-item-danger"><b>Durata: </b> <%= plan.ita_duration %></li>
              </ul>

            </div>

          </div>

          <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Attività sotto questo piano</h3>
            </div>

            <div class="panel-body">
              <% plan.plannings.each do |planning| %>
                <div class="media">
                  <div id="pdf-activity-media" class="media-left">
                    <%= image_tag wicked_pdf_asset_base64(pdf_activity_img(planning.activity.category)), class: 'media-object'%>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Attività <b><u><%= planning.activity.name %></u></b></h4>
                    <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">Dettagli attività</h3>
                      </div>
                      <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-info"><b>Descrizione: </b> <%= planning.activity.desc %></li>
                          <li class="list-group-item list-group-item-info"><b>Categoria: </b> <%= ita_category(planning.activity.category) %></li>
                          <li class="list-group-item list-group-item-info"><b>Frequenza: </b> <%= planning.activity.n_times %> / <%= ita_a_type(planning.activity.a_type) %></li>
                          <% unless planning.schedules.empty? %>
                            <li class="list-group-item list-group-item-info"><b>Pianificazioni fatte dal Coach: </b><br>
                              <div class="list-group">
                                <% planning.schedules.each do |schedule| %>
                                  <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><%= ita_schedule(schedule) %></h4>
                                  </div>
                                <% end %>
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              <% end %>

            </div>

          </div>

        </div>
      </div>
  <% end %>

</div>
