
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">CoachAI</a>
	<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<!--a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a-->
				<a class="nav-link disabled" href="#">
					<%= current_coach_user.first_name %>
					<%= " " %>
					<%= current_coach_user.last_name %>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Help</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
			<ul class="nav nav-pills flex-column">
				<%= navigation_link("home", root_path) %>
				<%= navigation_link("dashboard", root_path) %>
				<%= navigation_link("patients", root_path) %>
				<%= navigation_link("activities", root_path) %>
			</ul>

			<ul class="nav nav-pills flex-column">
				<%= navigation_link("wearables", wearables_path) %>
				<%= navigation_link("stepcounter", root_path) %>
			</ul>
		</nav>

		<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
			<!--h1><%= title %></h1-->
			<%= yield %>
		</main>
	</div>
</div>
