<!--<section class="container-log-in">-->
  <!--<div id="cube" class="show-front">-->
    <!--<figure class="front">-->
      <!--<#%= devise_error_messages! %>-->
      <!--<#%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->

        <!--<div class="mdl-card mdl-shadow&#45;&#45;6dp">-->
          <!--<div class="mdl-card__title mdl-color&#45;&#45;primary mdl-color-text&#45;&#45;white relative">-->
            <!--<h2 class="mdl-card__title-text">Login</h2>-->
          <!--</div>-->

          <!--<div class="mdl-card__supporting-text">-->

            <!--<div class="field mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
              <!--<#%= f.email_field :email, autofocus: true, class: 'mdl-textfield__input', for: 'login' %>-->
              <!--<#%= f.label :email, class: 'mdl-textfield__label', id: 'login' %>-->
            <!--</div>-->

            <!--<div class="field mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
              <!--<#%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'mdl-textfield__input', for: 'password' %>-->
              <!--<#%= f.label :password, class: 'mdl-textfield__label', id: 'password' %>-->
            <!--</div>-->

            <!--<#% if devise_mapping.rememberable? %>-->
              <!--<div class="field">-->
                <!--<#%= f.check_box :remember_me %>-->
                <!--<#%= f.label :remember_me %>-->
              <!--</div>-->
            <!--<#% end %>-->

          <!--</div>-->
          <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
            <!--<div class="mdl-grid">-->
              <!--<#%= f.submit "Log in", class: 'cube-submit mdl-cell mdl-cell&#45;&#45;12-col mdl-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-color-text&#45;&#45;white' %>-->
            <!--</div>-->
            <!--<div class="mdl-grid">-->
              <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col">-->
                <!--<div class="mdl-color-text&#45;&#45;primary" style="float: right">-->
                  <!--<#%= render "devise/shared/links" %>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--<#% end %>-->
    <!--</figure>-->
  <!--</div>-->
<!--</section>-->

<div class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>CoachAI</h2>
        <h4>Pannello di login</h4>
      </div>
    </div>
  </div>
</div>
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="section section-full-screen section-signup miniback">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card card-signup login_card">
          <form class="form" method="" action="">
            <div class="header header-primary text-center">
              <h2>CoachAI</h2>
              <h4>Pannello di login</h4>

            </div>
            <p class="text-divider">Tutti i campi richiesti *</p>
            <div class="content">

              <div class="input-group login_group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                <input type="text" class="form-control" placeholder="Nome, Cognome...">
              </div>

              <div class="input-group login_group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                <%= f.email_field :email, autofocus: true, class: 'mdl-textfield__input form-control', placeholder:'Email...',
                                  for: 'login' %>
              </div>

              <div class="input-group login_group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>

                <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'mdl-textfield__input form-control',
                                     placeholder:'Password...', for: 'password' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field checkme login_group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <!-- If you want to add a checkbox to this form, uncomment this code
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="optionsCheckboxes" checked>
                  Subscribe to newsletter
                </label>
              </div> -->
            </div>
            <div class="footer text-center">
              <%= f.submit "Log in", class: 'btn btn-success btn-lg' %>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-color-text--primary" style="float: right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<%end %>

<div class="col-md-12 text-center">
  <a href="examples/signup-page.html" class="btn btn-simple btn-primary btn-lg" target="_blank">View Signup Page</a>
</div>

