
<section class="container-log-in">
  <div id="cube" class="show-front">
    <figure class="front">
      <%= devise_error_messages! %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="mdl-card mdl-shadow--6dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
              <h2 class="mdl-card__title-text">Simple Login</h2>
            </div>

            <div class="mdl-card__supporting-text">

              <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.email_field :email, autofocus: true, class: 'mdl-textfield__input', for: 'login' %>
                <%= f.label :email, class: 'mdl-textfield__label', id: 'login' %>
              </div>

              <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'mdl-textfield__input', for: 'password' %>
                <%= f.label :password, class: 'mdl-textfield__label', id: 'password' %>
              </div>

              <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
              <% end -%>

            </div>

            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                <%= f.submit "Log in" , class: 'cube-submit mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white'%>
              </div>

              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                  <div class="mdl-color-text--primary" style="float: right">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <% end %>
    </figure>
  </div>
</section>
