<% provide(:title, 'Home') %>
<div class="android-be-together-section mdl-typography--text-center">
  <div class="logo-font android-slogan">Coach AI</div>
  <div class="logo-font android-sub-slogan">Piattaforma E-Coaching per stile di vita sano, assistita da un Agente Conversazionale</div>
  <div class="logo-font android-create-character">
    <% if coach_user_signed_in? %>
        <%= link_to profile_index_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect large-btn-home' do %>
           DASHBOARD
        <% end %>
    <% else %>
        <!-- Button that triggers the login popup -->
        <button id="btn_login_1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect large-btn-home">
          LOGIN
        </button>
        <!-- Element to pop up -->
        <div id="login_pop_up">
          <%= render 'home/login_form' %>
        </div>
    <% end %>
  </div>
</div>

<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">Di piu' su CoachAI</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <%= image_tag 'management.jpg' %>
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Management</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
          Gestisci i tuoi  pazienti come meglio sai, assegnando loro piani ed attivita' di ogni tipo da fare.
        </span>
      </div>

    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <%= image_tag 'monitoring.png' %>
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Monitoring</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
          Monitora i loro progressi e quando qualcosa non quadra intervieni modificando i piani.
        </span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <%= image_tag 'telegram_bot.jpg' %>
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Telegram Chatbot</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
          I tuoi pazienti utilizeranno un chatbot per interagire con te. Lascia a lui il lavoro piu' sporco come la somministrazione di questionari e dedica piu' tempo ai casi critici.
        </span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <%= image_tag 'chatting_channel.png' %>
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Chatting Channel</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
          Intervieni prontemente anche chattando con il paziente. Se hai delle communicazioni urgenti da fare oppure il suo comportamento non si capisce benissimo, apri il canale di communicazione e parla direttamente con lui.
        </span>
      </div>
    </div>
  </div>
</div>





