<% provide(:title, 'Home') %>



<div class="wrapper">
  <div class="page-header section-dark">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <!--<div class="title-brand">-->
          <!--&lt;!&ndash;<h1 class="presentation-title">CoachAI</h1>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="fog-low">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/img/fog-low.png" alt="">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="fog-low right">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/img/fog-low.png" alt="">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

        <!--<h2 class="presentation-subtitle text-center">Towards healthy lifestyle with conversational agents and AI </h2>-->
      </div>
    </div>

    <!--<h6 class="category category-absolute">Designed and coded by-->
      <!--<a href="https://www.creative-tim.com" target="_blank">-->
        <!--<img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">-->
      <!--</a>-->
    <!--</h6>-->
  </div>
</div>

<div class="btn-banner">
  <div class="section">
  <% if coach_user_signed_in? %>
      <%= link_to profile_index_path, class: 'mdl-navigation__link' do %>
        <button  class="button main_button">
          <i class="material-icons">chat</i> Accessi Dashboard
        </button>
      <% end %>

  <% else %>
    <!-- Button that triggers the login popup -->
    <!--<button id="btn_login_1" class="banner-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect large-btn-home">-->




      <button class="button" id="btn_login_1">
        <span><a  data-toggle="tab" class="main_button"><i class="material-icons">chat</i> Accessi CoachAI</a></span>
      </button>



    <!--</button>-->
    <!-- Element to pop up -->
    <div id="login_pop_up">
      <%= render 'home/login_form' %>
    </div>

  <% end %>


</div>
</div>


<div class="banner">

</div>

<div class="section section-tabs home_bottom">
  <div class="container">

      <div class="col-md-12">
        <div class="title">
          <h3>Perche usare gli agenti conversazionali:</h3>
        </div>

        <!-- Tabs with icons on Card -->
        <div class="card card-nav-tabs">
          <div class="header header-success">
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="active">
                    <a href="#profile" data-toggle="tab">
                      <i class="material-icons">games</i>
                     Il Chatbot e Assistenza Sanitaria
                    </a>
                  </li>
                  <li>
                    <a href="#messages" data-toggle="tab">
                      <i class="material-icons">face</i>
                     Il Chatbot e Medici
                    </a>
                  </li>
                  <li>
                    <a href="#settings" data-toggle="tab">
                      <i class="material-icons">supervisor_account</i>
                      Il Chatbot e Pazienti
                    </a>

                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="tab-content text-center">

              <div class="tab-pane active" id="profile">
                <div class="mdl-card__media">
                  <%= image_tag 'CoachAI Graphics/im2.png' %>
                </div>
                <p> Con l'aumento dei costi sanitari, l'attenzione attuale ha spostato le preferenze individuali dal trattamento delle malattie alla prevenzione. Le attuali applicazioni di telemedicina per la prevenzione delle malattie e la promozione dello stile di vita si concentrano sulla gestione delle condizioni del paziente e sulla raccomandazione di attività e piani per migliorare le loro condizioni. La ricerca della salute digitale per ottimizzare l'esperienza di coinvolgimento dei pazienti e il processo di interazione e supporto ai pazienti trarranno maggior beneficio dai sistemi di chatbot, specialmente dopo la dimissione ospedaliera. Ciò offre la possibilità di semplificare la comunicazione tra medico e paziente tramite un'applicazione di telemedicina basata su chatbot. </p>
              </div>

              <div class="tab-pane" id="messages">
                <div class="mdl-card__media">
                  <%= image_tag 'CoachAI Graphics/im1.png' %>
                </div>
                <p> Gli agenti di conversazione possono supportare i medici gestendo compiti meno importanti, che i medici eseguono ripetutamente e che impedisce loro di concentrarsi su pazienti con condizioni più critiche. Detto questo, i medici svolgono un ruolo cruciale nel processo di cura fornendo il supporto necessario per il paziente. Pertanto, gli agenti di conversazione non possono mai sostituire i medici, tuttavia, possono agire come un assistente virtuale per aiutare i medici a concentrarsi su attività meno importanti ma importanti. Per aiutare i medici, il chatbot può dare peso alle condizioni del paziente, in base alla priorità e alla gravità (alto, moderato, basso o non necessario).</p>
              </div>

              <div class="tab-pane" id="settings">
                <div class="mdl-card__media">
                  <%= image_tag 'CoachAI Graphics/im3.png' %>
                </div>
                <p>Gli agenti di conversazione possono coprire il divario nell'interazione fisico-paziente automatizzando le attività, pianificando eventi e fornendo supporto 24/7 ai pazienti. Se definiti con cura, i chatbot possono ridurre il lavoro del medico e aiutarli a fornire interventi efficaci. Chatbots può gestire la prenotazione di un appuntamento con un medico o un ospedale, richiedendo informazioni semplici, fornendo informazioni sullo stato mentale, monitoraggio della dieta, attività fisica, sonno e benessere mentale.
                    Gli agenti di conversazione possono fornire diagnosi e monitoraggio della salute. Questo tipo di agenti conversazionali è avanzato e focalizzato sulla gestione e il controllo di una malattia. Considerando che, gli agenti di conversazione che tracciano il sonno, la dieta, l'attività fisica e lo stress sono per lo più focalizzati sulla promozione della salute e la prevenzione dall'escalation nella fase a rischio per una malattia.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Tabs with icons on Card -->

      </div>



    </div>

</div>







<!--&lt;!&ndash; Colored FAB button &ndash;&gt;-->
<!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;colored">-->
<!--<i class="material-icons">add</i>-->
<!--</button>-->
<!--&lt;!&ndash; Colored FAB button with ripple &ndash;&gt;-->
<!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-js-ripple-effect mdl-button&#45;&#45;colored">-->
<!--<i class="material-icons">add</i>-->
<!--</button>-->


<!--&lt;!&ndash; Basic Chip &ndash;&gt;-->
<!--<span class="mdl-chip">-->
<!--<span class="mdl-chip__text">Basic Chip</span>-->
<!--</span>&lt;!&ndash; Deletable Chip &ndash;&gt;-->
<!--<span class="mdl-chip mdl-chip&#45;&#45;deletable">-->
<!--<span class="mdl-chip__text">Deletable Chip</span>-->
<!--<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>-->
<!--</span>&lt;!&ndash; Button Chip &ndash;&gt;-->
<!--<button type="button" class="mdl-chip">-->
<!--<span class="mdl-chip__text">Button Chip</span>-->
<!--</button>-->

<!--&lt;!&ndash; Contact Chip &ndash;&gt;-->
<!--<span class="mdl-chip mdl-chip&#45;&#45;contact">-->
<!--<span class="mdl-chip__contact mdl-color&#45;&#45;teal mdl-color-text&#45;&#45;white">A</span>-->
<!--<span class="mdl-chip__text">Contact Chip</span>-->
<!--</span>-->
<!--&lt;!&ndash; Deletable Contact Chip &ndash;&gt;-->
<!--<span class="mdl-chip mdl-chip&#45;&#45;contact mdl-chip&#45;&#45;deletable">-->
<!--<img class="mdl-chip__contact" src="/templates/dashboard/images/user.jpg"></img>-->
<!--<span class="mdl-chip__text">Deletable Contact Chip</span>-->
<!--<a href="#" class="mdl-chip__action"><i class="material-icons">cancel</i></a>-->
<!--</span>-->

<!--<div class="demo-grid-ruler mdl-grid">-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col">  &lt;!&ndash; Accent-colored raised button with ripple &ndash;&gt;-->
<!---->
<!--</div>-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col">1</div>-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col">1</div>-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col">1</div>-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-cell&#45;&#45;1-col">1</div>&ndash;&gt;-->
<!--</div>-->


<!--<div class="android-more-section">-->
<!--<div class="android-section-title mdl-typography&#45;&#45;display-1-color-contrast">Di piu' su CoachAI</div>-->
<!--<div class="android-card-container mdl-grid">-->


<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;4-col-phone mdl-card mdl-shadow&#45;&#45;3dp">-->
<!--<div class="mdl-card__media">-->
<!--<#%= image_tag 'management.jpg' %>-->
<!--</div>-->
<!--<div class="mdl-card__title">-->
<!--<h4 class="mdl-card__title-text">Management</h4>-->
<!--</div>-->
<!--<div class="mdl-card__supporting-text">-->
<!--<span class="mdl-typography&#45;&#45;font-light mdl-typography&#45;&#45;subhead">-->
<!--Gestisci i tuoi  pazienti come meglio sai, assegnando loro piani ed attivita' di ogni tipo da fare.-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;4-col-phone mdl-card mdl-shadow&#45;&#45;3dp">-->
<!--<div class="mdl-card__media">-->
<!--<#%= image_tag 'monitoring.png' %>-->
<!--</div>-->
<!--<div class="mdl-card__title">-->
<!--<h4 class="mdl-card__title-text">Monitoring</h4>-->
<!--</div>-->
<!--<div class="mdl-card__supporting-text">-->
<!--<span class="mdl-typography&#45;&#45;font-light mdl-typography&#45;&#45;subhead">-->
<!--Monitora i loro progressi e quando qualcosa non quadra intervieni modificando i piani.-->
<!--</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;4-col-phone mdl-card mdl-shadow&#45;&#45;3dp">-->
<!--<div class="mdl-card__media">-->
<!--<#%= image_tag 'telegram_bot.jpg' %>-->
<!--</div>-->
<!--<div class="mdl-card__title">-->
<!--<h4 class="mdl-card__title-text">Telegram Chatbot</h4>-->
<!--</div>-->
<!--<div class="mdl-card__supporting-text">-->
<!--<span class="mdl-typography&#45;&#45;font-light mdl-typography&#45;&#45;subhead">-->
<!--I tuoi pazienti utilizeranno un chatbot per interagire con te. Lascia a lui il lavoro piu' sporco come la somministrazione di questionari e dedica piu' tempo ai casi critici.-->
<!--</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;4-col-phone mdl-card mdl-shadow&#45;&#45;3dp">-->
<!--<div class="mdl-card__media">-->
<!--<#%= image_tag 'chatting_channel.png' %>-->
<!--</div>-->
<!--<div class="mdl-card__title">-->
<!--<h4 class="mdl-card__title-text">Chatting Channel</h4>-->
<!--</div>-->
<!--<div class="mdl-card__supporting-text">-->
<!--<span class="mdl-typography&#45;&#45;font-light mdl-typography&#45;&#45;subhead">-->
<!--Intervieni prontemente anche chattando con il paziente. Se hai delle communicazioni urgenti da fare oppure il suo comportamento non si capisce benissimo, apri il canale di communicazione e parla direttamente con lui.-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->







<!--<div class="col-md-2">-->
<!--<div class="card card-profile">-->
<!--<div class="card-avatar">-->
<!--<a href="#pablo">-->
<!--<#%= image_tag 'marc.jpg' %>-->
<!--</a>-->
<!--</div>-->
<!--<div class="content">-->
<!--<h6 class="category text-gray">CEO / Co-Founder</h6>-->
<!--<h4 class="card-title">Alec Thompson</h4>-->
<!--<p class="card-content">-->
<!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
<!--</p>-->
<!--<a href="#pablo" class="btn btn-primary btn-round">Follow</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->



