<%= simple_form_for @event, remote: true do |f| %>
	<% if @event.errors.any? %>
		<div id="error_explanation">
			 <h2><%= pluralize(@event.errors.count, "error") %> prohibited this user from being saved:</h2>
			 <ul>
				 <% @event.errors.full_messages.each do |msg| %>
					 <li> * <%= msg %></li>
				 <% end %>
			 </ul>
		</div>
	<% end %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %>
		<%= f.input :reminder_type, as: :select, collection: [['Minuti','minutes'], ['Ore','hours'], ['Giorni','days'], ['Non notificare','disabled']] %>
		<%= f.input :reminder_range %>
  </div>

  <div class="form-actions">

    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
  <%= f.button :submit %>
<% end %>














