<%= simple_form_for @event, remote: true do |f| %>
	<% if @event.errors.any? %>
		<div id="error_explanation">
			 <h2><%= pluralize(@event.errors.count, "error") %> prohibited this user from being saved:</h2>
			 <ul>
				 <% @event.errors.full_messages.each do |msg| %>
					 <li> * <%= msg %></li>
				 <% end %>
			 </ul>
		</div>
	<% end %>

  <div class="form-group form-group-lg">
    <%= f.input :title ,label:'Titolo: ', class: 'form-control input-md end_hidden'%><br>
    <%= f.input :date_range,label:'Intervallo di date: ', input_html: { class: "form-control input-sm date-range-picker" } %><br>
    <%= f.input_field :start,label:'Inizio: ', as: :hidden, value: Date.today, class: 'form-control input-md start_hidden' %><br>
    <%= f.input_field :end,label:'Fine: ', as: :hidden, value: Date.today, class: 'form-control input-md end_hidden' %><br>
    <%= f.input :color,label:'Colore: ', as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %><br>
		<%= f.input :reminder_type,label:'Tipo di promemoria: ', as: :select, collection: [['Minuti','minutes'], ['Ore','hours'], ['Giorni','days'], ['Non notificare','disabled']] %><br>
		<%= f.input :reminder_range,label:'Durata: ', class: 'form-control input-md end_hidden' %>
  </div>

  <div class="form-group form-group-lg">

    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Sei sicuro?' },
                remote: true unless @event.new_record? %>
  </div>
  <%= f.button :submit, 'Crea promemoria', class:"btn btn-md btn-success" %>
<% end %>












