<div class="col-lg-4 col-xl-3">
  <div class="user-card mdl-card <%= archived_css_class %>">
    <!--<div class="row">-->
    <!--<div class="col-sm-3">-->


    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--<div class="user-card-name">-->
    <!--&lt;!&ndash;<div id="profile-img-user-<#%= user.id %>" class="row">&ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;<#%= user.last_name %> <#%= " #{user.first_name}" %>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="col-sm-3">&ndash;&gt;-->

    <!--
    <#% if archived? %>-->
    <!--<div class="row">-->
    <!--<div class="user-card-n">-->
    <!--<a href="<#%= restore_users_path(user) %>">-->
    <!--<#%= image_tag 'restore_user_icon.png', class: 'restore-user' %>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--
  <#% else %>-->
    <!--<div class="row">-->
    <!--<div class="user-card-n">-->
    <!--<a href="<#%= chat_chats_path(user) %>">-->
    <!--<i class="chat-with-user n-icon mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">question_answer</i>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="user-card-n">-->
    <!--<a href="<#%= archive_users_path(user) %>">-->
    <!--<#%= image_tag 'archive_user_icon.png', class: 'archive-user' %>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<#% unless user.profiled? %>-->
    <!--<div class="row">-->
    <!--<div class="user-card-n">-->
    <!--<#%= link_to user_path(user), method: :delete, data: {confirm: 'Sei sicuro di voler eliminare l\'utente? Una volta eliminato non potra\' piu\' essere recuperato.'} do %>-->
    <!--<i class="delete-user n-icon mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">delete</i>-->
    <!--<#% end %>-->
    <!--</div>-->
    <!--</div>-->
    <!--<#% end %>-->
    <!--
  <#% end %>-->

    <!--</div>-->


    <!--
  <#% unless archived? %>-->
    <!--<div class="scores-grid mdl-grid">-->
    <!--<div class="col-sm-4">-->
    <!--<div class="score" id="physical_score_<#%= user.id %>">-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
    <!--<div class="score" id="diet_score_<#%= user.id %>">-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
    <!--<div class="score" id="mental_score_<#%= user.id %>">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--
<#% end %>-->

    <!--<div class="user-card-actions mdl-card__actions">-->
    <!--<#%= link_to user_path(user), class: 'btn btn-default' do %>-->
    <!--Vedi utente-->
    <!--<#% end %>-->
    <!--</div>-->


    <div class="container">
      <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12 card_height">
          <article class="material-card Red">
            <h2>
          <span class="card_center"> <%= user.last_name %> <%= " #{user.first_name}" %>
</span>

              <%= link_to user_path(user), class: 'btn btn-default' do %>
                Vedi utente
              <% end %>

              <strong>
                <i class="fa fa-fw fa-star"></i>
                The Deer Hunter
              </strong>

              <div class="col-sm-3 user_view_buttons">

                <% if archived? %>
                  <div class="row">
                    <div class="user-card-n">

                      <a href="<%= restore_users_path(user) %>">
                        <%= image_tag 'restore_user_icon.png', class: 'restore-user' %>
                      </a>
                    </div>
                  </div>


                <% else %>
                  <div class="row">
                    <div class="user-card-n">
                      <a href="<%= chat_chats_path(user) %>">
                        <i class="chat-with-user n-icon mdl-color-text--blue-grey-400 material-icons" role="presentation">question_answer</i>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="user-card-n">
                      <a href="<%= archive_users_path(user) %>">
                        <%= image_tag 'archive_user_icon.png', class: 'archive-user' %>
                      </a>
                    </div>
                  </div>
                  <% unless user.profiled? %>
                    <div class="row">
                      <div class="user-card-n">
                        <%= link_to user_path(user), method: :delete, data: {confirm: 'Sei sicuro di voler eliminare l\'utente? Una volta eliminato non potra\' piu\' essere recuperato.'} do %>
                          <i class="delete-user n-icon mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>

              </div>
            </h2>

            <div class="mc-content">
              <div class="img-container">
                <div class="img-responsive" id="profile-img-user-<%= user.id %>">

                </div>
              </div>
              <div class="mc-description">
                <!--He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The-->
                <!--Prophecy trilogy, The Dogs of War ...-->


              </div>


            </div>

            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">

              <h4>
                Social
              </h4>
              <% unless archived? %>
                <div class="scores-grid mdl-grid three_adherence">
                  <div class="col-sm-4">
                    <div class="score" id="physical_score_<%= user.id %>">

                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="score" id="diet_score_<%= user.id %>">

                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="score" id="mental_score_<%= user.id %>">
                    </div>
                  </div>
                </div>
              <% end %>


              <!--<a class="fa fa-fw fa-facebook"></a>-->
              <!--<a class="fa fa-fw fa-twitter"></a>-->
              <!--<a class="fa fa-fw fa-linkedin"></a>-->
              <!--<a class="fa fa-fw fa-google-plus"></a>-->
            </div>
          </article>
        </div>
      </div>


    </div>
  </div>

</div>







