<header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 dash_header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= title %></span>
    <div class="mdl-layout-spacer"></div>




    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="notificationsButton">
      <i id="communications-badge" class="material-icons mdl-badge">notifications</i>
    </button>

    <ul id="communications" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="notificationsButton" data-url="<%= lasts_communications_path(coach) %>">
      <li class="mdl-menu__item">
        <div class="all_communications">
          Non hai nessuna nuova notifica
        </div>
      </li>
      <li class="mdl-menu__item">
        <%= link_to all_communications_path(coach) do %>
          <div class="all_communications">
            Vedi tutte le notifiche
          </div>
        <% end %>
      </li>
    </ul>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="moreButton">
      <i class="material-icons md-36">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="moreButton">

      <div class="text-center">
        <%= image_tag coach.avatar.url,:class => "avatar img-circle" %>

      <li class="mdl-menu__item"><a><i class="material-icons md-24">record_voice_over</i>&nbsp; <%= coach.first_name
      %>&nbsp; <%= coach.last_name %></a></li>
      <li class="mdl-menu__item"><a><i class="material-icons md-24">email</i>&nbsp; <%= coach.email %></a></li>
      <li class="mdl-menu__item"><a> Ultimo accesso: <%= coach.last_sign_in_at.strftime("%e %b %Y(%I:%M)") %></a></li>
      <hr>
      <!--<span id="admin-name"><a><i class="material-icons">record_voice_over</i> <#%= "#{coach.first_name} #{coach
      .last_name}" %></a></span>-->
      <li class="mdl-menu__item">
        <a><%= link_to destroy_coach_user_session_path, method: :delete do %><i class="material-icons md-24">input</i>&nbsp; Log Out<% end %></a>
      </li></div>
    </ul>

  </div>











</header>



