<% if planning.activity.a_type != '2' %>
  <h5><b>Pianificazioni</b></h5>

  <% if !planning.schedules.empty? %>

    <% if planning.activity.a_type == '0' %>
      <%= daily %>
    <% elsif planning.activity.a_type == '1' %>
      <%= weekly %>
    <% else %>
      <%= monthly %>
    <% end %>


    <% if planning.plan.delivered != 1 && planning.plan.delivered != 4 %>

      <%= link_to edit_planning_path(planning), remote: true,
                  method: 'get' do %>
        <button class="btn btn-info btn-sm">
          <i class="material-icons">update</i>&nbsp Modifica Pianificazioni
        </button>
      <% end %>

      <%= link_to destroy_all_schedules_plannings_path(planning), method: 'post',
                  data: {confirm: 'Sei sicuro di voler eliminare tutte le pianificazioni?'} do %>
        <button class="btn btn-info btn-sm">
          <i class="material-icons">update</i>&nbsp Elimina Pianificazioni
        </button>
      <% end %>



    <% end %>

  <% else %>

    <div>
      Non ci sono ORARI definiti.
    </div>
    <br>
    <% if planning.plan.delivered != 1 && planning.plan.delivered != 4 %>


      <%= link_to edit_planning_path(planning), remote: true,
                  method: 'get' do %>
        <button class="btn btn-info btn-sm">
          <i class="material-icons">update</i>&nbsp Aggiungi Orario
        </button>
      <% end %>

    <% end %>


  <% end %>
<% end %>







