<div class="overview-action"></div>
<% delivered_plans = user.plans.where('delivered = ? OR delivered = ?', 1, 4) %>
<% if delivered_plans.size == 0 %>
    <div id="no-info-grid" class="mdl-grid">
      <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div id="no-info-card" class="mdl-card mdl-shadow--4dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text"> Nessun Piano Presente </h2>
          </div>
          <div id="feature-card-supporting-text" class="mdl-card__supporting-text">

            All'utente <%= user.last_name %> <%= user.first_name %> non e' stato ancora definito un piano da seguire. Aggiungi un nuovo piano per poter seguire il suo andamento in questa schermata!

          </div>
        </div>
      </div>
    </div>
<% else %>
    <div id="overview-grid" class="mdl-grid">
      <% delivered_plans.find_each do |plan| %>

          <div class="mdl-cell mdl-cell--12-col-desktop">
            <div id="overview-plan-card" class="mdl-card mdl-shadow--4dp">
              <div class="mdl-card__title mdl-card--expand">
                <% if plan.delivered == 1 %>
                    <h2 class="mdl-card__title-text">Piano:&nbsp;&nbsp;<b><%= plan.name %></b>&nbsp;-&nbsp;IN CORSO</h2>
                <% else %>
                    <h2 class="mdl-card__title-text">Piano:&nbsp;&nbsp;<b><%= plan.name %></b>&nbsp;-&nbsp;PORTATO A TERMINE </h2>
                <% end %>

              </div>
              <div class="mdl-card__supporting-text">
                <%= cell(:plan_description, plan, activities_count: true) %>

                <% plan.plannings.find_each do |planning| %>
                    <div class="mdl-grid">
                      <div class="mdl-cell mdl-cell--12-col-desktop">

                        <div id="overview-activity-card" class="mdl-card mdl-shadow--4dp">
                          <div class="mdl-card__title mdl-card--expand">
                            <h3 class="mdl-card__title-text">Attivita':&nbsp;&nbsp;<b><%= planning.activity.name %></b> </h3>
                          </div>
                          <div class="mdl-card__supporting-text">
                            <%= cell(:planning_description, planning) %>

                            <div class="mdl-grid">
                              <div class="mdl-cell mdl-cell--6-col-desktop">
                                <div id="completeness-<%= planning.id %>">

                                </div>
                              </div>

                              <% scalar_adherences = planning.questions.where(:q_type => 'scalar').size %>
                              <% if scalar_adherences > 0 %>
                                  <% (0..scalar_adherences-1).each do |i| %>
                                      <div class="mdl-cell mdl-cell--6-col-desktop">
                                        <div id="scalar-adherence-<%= i %>-<%= planning.id %>">

                                        </div>
                                      </div>
                                  <% end %>
                              <% end %>

                              <% open_questions = planning.questions.where(:q_type => 'open').size %>
                              <% if open_questions > 0 %>
                                  <% (0..open_questions-1).each do |i| %>
                                      <div class="mdl-cell mdl-cell--6-col-desktop">
                                        <div id="open-question-<%= i %>-<%= planning.id %>">

                                        </div>
                                      </div>
                                  <% end %>
                              <% end %>

                              <% yes_no_questions = planning.questions.where(:q_type => 'yes_no').size %>
                              <% if yes_no_questions > 0 %>
                                  <% (0..yes_no_questions-1).each do |i| %>
                                      <div class="mdl-cell mdl-cell--6-col-desktop">
                                        <div id="yes-no-question-<%= i %>-<%= planning.id %>">

                                        </div>
                                      </div>
                                  <% end %>
                              <% end %>

                            </div>

                          </div>
                        </div>


                      </div>
                    </div>
                <% end %>

              </div>
            </div>
          </div>

      <% end %>
    </div>
<% end %>


<input type="hidden" id="hidden_user_id" value="<%= user.id %>">

































