<!--<div class="overview-action"></div>-->
<!--<#% delivered_plans = user.plans.where('delivered = ? OR delivered = ?', 1, 4) %>-->
<!--<#% if delivered_plans.size == 0 %>-->
  <!--<div id="no-info-grid" class="mdl-grid">-->
    <!--<div class="mdl-cell&#45;&#45;12-col-desktop mdl-cell&#45;&#45;8-col-tablet mdl-cell&#45;&#45;4-col-phone">-->
      <!--<div id="no-info-card" class="mdl-card mdl-shadow&#45;&#45;4dp">-->
        <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
          <!--<h2 class="mdl-card__title-text"> Nessun Piano Presente </h2>-->
        <!--</div>-->
        <!--<div id="feature-card-supporting-text" class="mdl-card__supporting-text">-->

          <!--All'utente <#%= user.last_name %> <#%= user.first_name %> non e' stato ancora definito un piano da
          seguire.-->
          <!--Aggiungi un nuovo piano per poter seguire il suo andamento in questa schermata!-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--<#% else %>-->



  <!--<div id="overview-grid" class="mdl-grid">-->
    <!--<#% delivered_plans.find_each do |plan| %>-->

      <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col-desktop">-->
        <!--<div id="overview-plan-card" class="mdl-card mdl-shadow&#45;&#45;4dp">-->
          <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
            <!--<#% if plan.delivered == 1 %>-->
              <!--<h2 class="mdl-card__title-text">Piano:&nbsp;&nbsp;<b><#%= plan.name %></b>&nbsp;-&nbsp;IN CORSO</h2>-->
            <!--<#% else %>-->
              <!--<h2 class="mdl-card__title-text">Piano:&nbsp;&nbsp;<b><#%= plan.name %></b>&nbsp;-&nbsp;PORTATO A TERMINE-->
              <!--</h2>-->
            <!--<#% end %>-->

          <!--</div>-->
          <!--<div class="mdl-card__supporting-text">-->
            <!--<#%= cell(:plan_description, plan, activities_count: true) %>-->

            <!--<v% plan.plannings.find_each do |planning| %>-->
              <!--<div class="mdl-grid">-->
                <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col-desktop">-->

                  <!--<div id="overview-activity-card" class="mdl-card mdl-shadow&#45;&#45;4dp">-->
                    <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
                      <!--<h3 class="mdl-card__title-text">Attività:&nbsp;&nbsp;<b><#%= planning.activity.name %></b></h3>-->
                    <!--</div>-->
                    <!--<div class="mdl-card__supporting-text">-->
                      <!--<#%= cell(:planning_description, planning) %>-->

                      <!--<div class="mdl-grid chat_style">-->
                        <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col-desktop">-->
                          <!--<div id="completeness-<#%= planning.id %>">-->

                          <!--</div>-->
                        <!--</div>-->

                        <!--<#% scalar_adherences = planning.questions.where(:q_type => 'scalar').size %>-->
                        <!--<#% if scalar_adherences > 0 %>-->
                          <!--<v% (0..scalar_adherences - 1).each do |i| %>-->
                            <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col-desktop">-->
                              <!--<div id="scalar-adherence-<#%= i %>-<#%= planning.id %>">-->

                              <!--</div>-->
                            <!--</div>-->
                          <!--<#% end %>-->
                        <!--<#% end %>-->

                        <!--<#% open_questions = planning.questions.where(:q_type => 'open').size %>-->
                        <!--<#% if open_questions > 0 %>-->
                          <!--<#% (0..open_questions - 1).each do |i| %>-->
                            <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col-desktop">-->
                              <!--<div id="open-question-<#%= i %>-<#%= planning.id %>">-->

                              <!--</div>-->
                            <!--</div>-->
                          <!--<#% end %>-->
                        <!--<#% end %>-->

                        <!--<#% yes_no_questions = planning.questions.where(:q_type => 'yes_no').size %>-->
                        <!--<#% if yes_no_questions > 0 %>-->
                          <!--<v% (0..yes_no_questions - 1).each do |i| %>-->
                            <!--<div class="mdl-cell mdl-cell&#45;&#45;6-col-desktop">-->
                              <!--<div id="yes-no-question-<#%= i %>-<#%= planning.id %>">-->

                              <!--</div>-->
                            <!--</div>-->
                          <!--<#% end %>-->
                        <!--<#% end %>-->

                      <!--</div>-->

                    <!--</div>-->
                  <!--</div>-->


                <!--</div>-->
              <!--</div>-->
            <!--<#% end %>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--<#% end %>-->
  <!--</div>-->
<!--<#% end %>-->


<!--<input type="hidden" id="hidden_user_id" value="<#%= user.id %>">-->



<div class="container">

<div class="overview-action"></div>
<% delivered_plans = user.plans.where('delivered = ? OR delivered = ?', 1, 4) %>
<% if delivered_plans.size == 0 %>
  <div id="no-info-grid" class="mdl-grid">
    <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div id="no-info-card" class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text"> Nessun Piano Presente </h2>
        </div>
        <div id="feature-card-supporting-text" class="mdl-card__supporting-text">

          All'utente <%= user.last_name %> <%= user.first_name %> non e' stato ancora definito un piano da seguire.
          Aggiungi un nuovo piano per poter seguire il suo andamento in questa schermata!

        </div>
      </div>
    </div>
  </div>
<% else %>

  <div class="mdl-card mdl-shadow--6dp" id="overview-plan-card">

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <% delivered_plans.find_each do |plan| %>
              <div class="card">
                <% if plan.delivered == 1 %>
                  <div class="card-header" data-background-color="purple">
                    <h4 class="title">Piano "<%= plan.name %>" in corso</h4>
                    <p class="category">Vedere le informazioni sul piano qui sotto</p>
                <% else %>
                  <h4 class="title">Piano "<%= plan.name %>" portato a termine</h4>
                  <p class="category">Vedere le informazioni sul piano qui sotto</p>
                <% end %>
                </div>
                <div class="card-content">
                  <div id="typography">
                    <div class="title">

                      <%= cell(:plan_description, plan, activities_count: true) %>

                      <% plan.plannings.find_each do |planning| %>


                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header card-chart" data-background-color="green">
                                <div class="ct-chart" id="dailySalesChart"> <div class="card-content">
                                  <h4 class="title">Attività:&nbsp<b><%= planning.activity.name %></h4>

                                </div></div>
                              </div>



                              <div class="mdl-card__supporting-text">
                                <%= cell(:planning_description, planning) %>
                                <!--Removed chat_style from the div to view graphs-->
                                <div class="container col-lg-offset-2 col-lg-1">


                                <div class="mdl-grid">
                                  <div class="mdl-cell mdl-cell--6-col-desktop">
                                    <div id="completeness-<%= planning.id %>">

                                    </div>
                                  </div>

                                  <% scalar_adherences = planning.questions.where(:q_type => 'scalar').size %>
                                  <% if scalar_adherences > 0 %>
                                    <% (0..scalar_adherences - 1).each do |i| %>
                                      <div class="mdl-cell mdl-cell--6-col-desktop">
                                        <div id="scalar-adherence-<%= i %>-<%= planning.id %>">

                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>

                                  <% open_questions = planning.questions.where(:q_type => 'open').size %>
                                  <% if open_questions > 0 %>
                                    <% (0..open_questions - 1).each do |i| %>
                                      <div class="mdl-cell mdl-cell--6-col-desktop">
                                        <div id="open-question-<%= i %>-<%= planning.id %>">

                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>

                                  <% yes_no_questions = planning.questions.where(:q_type => 'yes_no').size %>
                                  <% if yes_no_questions > 0 %>
                                    <% (0..yes_no_questions - 1).each do |i| %>
                                      <div class="mdl-cell mdl-cell--6-col-desktop">
                                        <div id="yes-no-question-<%= i %>-<%= planning.id %>">

                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>

                                </div>
                                </div>


                              </div>
                              <div class="card-footer">
                                <div class="stats">
                                  <i class="material-icons">access_time</i> inviato a: <%= planning.created_at.strftime("%d %b. %Y") %>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<input type="hidden" id="hidden_user_id" value="<%= user.id %>">










































