<tr>
	<td><%= activity %></td>
	<td><%= quantity %></td>
	<td><%= formatted_start_date %></td>
	<td><%= formatted_end_date %></td>
	<td><%= link_to "Mostra", objective_details_path(model) %></td>
</tr>
