<div class="container">
  <div class="col-md-4">
  </div>
  <div class="card container">
    <div class="card-header"><h2><%= @questionnaire.title %></h2></div>
    <br>
    <% counter = 0 %>
  <%= form_for questionnaire do |form,index| %>

    <% if questionnaire.errors.any? %>
      <div id="error_explanation">
        <h2>Gli <b>errori</b> che non hanno permesso di salvare il questionario:</h2>

        <ul>
          <% questionnaire.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>








    <div>
      <ul>
        <li class="list-group-item">
          <i class="material-icons">comment</i>
          <%= form.label :title, 'Titolo* (tutti i questionari devono avere titoli diversi)' %>
          <%= form.text_field :title, id: :questionnaire_title, class: 'form-control', placeholder: 'Inserisci Titolo' %>
        </li>
        <li class="list-group-item">
          <i class="material-icons">dvr</i>
          <%= form.label :desc, 'Descrizione' %>
          <%= form.text_field :desc, class: 'form-control', placeholder: 'Inserisci Descrizione' %>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <%= form.nested_fields_for :questionnaire_questions do |f| %>

        <div>
          <ul>
            <li class="list-group-item">
                <legend><span class="number"><%= counter += 1 %></span>  <%= f.text_area :text, :rows => 3, class: ' form-control question-text-area' %></legend>

            </li>
          </ul>
          <%= f.remove_nested_fields_link 'Cancella Domanda', class: 'btn btn-danger btn-xs' %>

          <div class="options-area">
            <%= f.nested_fields_for :options do |ff| %>
              <div>
                <ul>
                  <li class="list-group-item">


                <%= ff.label :text, 'Risposta*' %>
                <%= ff.text_field :text%>



                  <%= ff.label :score, 'Punteggio*' %>
                <%= ff.number_field :score, in: 1.0..20.0, step: 1 %>

                    <%= link_to ff.remove_nested_fields_link do %>
                      <button id="activities-user" class="btn btn-danger btn-xs">
                        <i class="material-icons">delete_forever</i> Elimina Risposta
                      </button>
                    <% end %>



                <%#= ff.remove_nested_fields_link 'Elimina Risposta', class: 'btn btn-danger btn-round btn-xs' %>
                  </li>
                </ul>
              </div>
            <% end %>


            <%= f.add_nested_fields_link :options, 'Aggiungi Risposta', class: 'btn btn-success btn-xs' %>
          </div>

        </div>
      <% end %>

      <%= form.add_nested_fields_link :questionnaire_questions, 'Aggiungi Domanda', class: 'btn btn-info btn-md' %>
    </div>

    <small id="emailHelp" class="form-text text-muted">I campi segnati con * sono obbligatori!</small>
    <br>


    <div class="actions">
      <% if questionnaire.new_record? %>
        <%= form.submit  'Crea Questionnario', class: 'btn btn-success' %>
      <% else %>
        <%= form.submit 'Aggiorna il questionario', class: 'btn btn-success btn-md' %><%= link_to 'Annulla', questionnaires_path, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
    <%#= link_to_add_fields('Aggiungi Domanda', form, :questions) %>
  <% end %>
</div>
</div>








<style>






  button {
    overflow: visible;
  }

  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */

  button,
  select {
    text-transform: none;
  }








  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }









  .number {
    background-color: firebrick;
    color: #fff;
    height: 35px;
    width: 35px;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 15px;
    margin-right: 4px;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }

  @media screen and (min-width: 480px) {
  }
</style>


