<%= cell(:navigation, {email: current_user.email, title: "Benvenuto utente"}.to_dot.freeze).(:navigation) do %>
	<% capture do %>
	<%= render "layouts/notice" %>
		<div style="padding-bottom: 25px;">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">
						<%= link_to "Questionari", questionnaires_path %>
					</li>
					<li class="breadcrumb-item active" aria-current="page"><%= @questionnaire.title %></li>
				</ol>
			</nav>
		</div>
		<%= cell(:questionnaire, @questionnaire).(:show) %>
	<% end %>
<% end %>
