<div class="card">
	<%= image_tag 'rsz_user_icon.png', class: "card-img-top" %>
	<div class="card-body">
		<h4 class="card-title"><%= title %></h4>
	</div>
	<ul class="list-group list-group-flush">
		<%= status %>
	</ul>
	<div class="card-body">
		<%= show_button %>
		<%= " " %>
		<%= edit_button %>
	</div>
</div>
