<%= cell(:user_menu, user) %>




<div class="col-md-12">
  <div class="card">
    <div class="card-header card-chart" data-background-color="blue">
      <div class="col-lg-6 col-lg-offset-6 username_case">
        <%= link_to user_path(user) do %>
          <%= image_tag user_profile_image(user), alt: 'paziente', class:
              'user_chat_img' %>

          <%= user_status %>
          Acesso: <%= Date.today.strftime("%d %b. %Y") %>
        <% end %>
      </div>
      <div class="ct-chart" id="completedTasksChart"></div>

    </div>




      <% if !user.archived? %>
        <div class="chat-grid mdl-grid">
          <div class="mdl-cell--12-col-desktop">
            <div class="chat-container">
              <div class="mdl-cell--12-col-desktop">

                <ol id="chats" class="chat" data-url="<%= chats_chats_path(user) %>">


                  <% chats.each do |message| %>
                    <%= cell(:chats_message, message) %>
                  <% end %>

                </ol>

                <%= form_for new_chat, url: chats_path, method: 'post', remote: true do |f| %>


                  <%= f.hidden_field :user_id %>
                  <%= f.hidden_field :coach_user_id %>
                  <%= f.hidden_field :direction %>

                  <div class="mdl-grid">
                    <div class="mdl-cell--10-col-desktop">
                      <%= f.text_field :text, id: 'message-box', class: 'textarea', type: 'text', placeholder: 'Scrivi qui il messaggio!' %>
                    </div>

                    <div class="mdl-cell--2-col-desktop">
                      <%= content_tag :div, class: 'mdl-navigation__link' do %>


                        <button class="btn btn-success btn-large btn-round" type="submit">
                          <i class="material-icons">send</i> &nbsp Invia
                        </button>
                      <% end %>
                    </div>
                  </div>

                <% end %>

              </div>
            </div>
          </div>

          <!--<i class="material-icons">access_time </i>  &nbsp; <#%= l user.chats.last().created %>-->
        </div>
      <% else %>
        <%= user_not_profiled %>
      <% end %>



    <div class="card-footer">
      <div class="stats">

      </div>
    </div>
  </div>
</div>