
<div class="col-lg-6 col-lg-offset-2 ">
<div class=" main main-raised container">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header notification_table" data-background-color="orange">
            <h4 class="title">Stati di pazienti e attività</h4>

          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
              <th> <a> <div class="card-header" data-background-color="green">
                <i class="material-icons">verified_user</i> Pazienti attivi
              </div></a></th>
              <th><a> <div class="card-header" data-background-color="orange">
                <i class="material-icons">pause_circle_outline</i> Pazienti in attesa di piano
              </div></a></th>
              <th><a> <div class="card-header" data-background-color="purple">
                <i class="material-icons">assignment_turned_in</i> Piani
              </div></a></th>
              <th><a> <div class="card-header" data-background-color="blue">
                <i class="material-icons">today</i> Attività
              </div></a></th>
              </thead>
              <tbody>
              <tr class="content_align">
                <td><button class="btn btn-success btn-fab btn-round">
                  <%= users_with_plans %>
                </button></td>
                <td><button class="btn btn-warning btn-fab btn-round">
                  <%= users_with_no_plan %>
                </button></td>
                <td><button class="btn btn-primary btn-fab btn-round">
                  <%= plans_count %>
                </button></td>
                <td><button class="btn btn-info btn-fab btn-round">
                  <%= activities_count %>
                </button></td>
              </tr>
              <tr>
                <td><a><div id="counter-label-size" class="stats">
                  <i class="material-icons">date_range</i> Numero totale di pazienti che stanno seguendo un piano
                </div></a></td>
                <td><a><div id="counter-label-size" class="stats">
                  <i class="material-icons text-danger">warning</i> <a href="<%= users_path %>">Consegna loro un piano</a>
                </div></a></td>
                <td><a> <div id="counter-label-size" class="stats">
                  <i class="material-icons">local_offer</i> Numero di piani presenti nel sistema, sia consegnati che non
                </div></a></td>
                <td><a><div id="counter-label-size" class="stats">
                  <i class="material-icons">update</i> <a href="<%= activities_path %>">Gestisci l'archivio delle attivita'</a>
                </div></a></td>
              </tr>

              </tbody>
            </table>
          </div>

      </div>


    </div>

</div>
  <br>   <br>
</div>




