<div id="dashboard-container-fluid" class="container-fluid">



  <div class="row">
    <%= headers %>
  </div>

  <div class="row">

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="red">
          <h4 class="title">Pazienti CRITICI</h4>
          <p class="category">Categorizzati dal sistema come Critici, questo significa che non stanno seguendo le attivita' da te assegante oppure e' da troppo tempo che non si ricevono feedback da esso.</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
            <tr><th>ID</th>
              <th>Nome</th>
            </tr></thead>
            <tbody>

            <% reds.each do |red_user| %>
                <tr>
                  <td><%= user_id_link(red_user) %></td>
                  <td><%= user_name_link(red_user) %></td>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="orange">
          <h4 class="title">Pazienti CHE MANCANO LE SCADENZE</h4>
          <p class="category">Significa che stanno iniziando a mancare le scadenze dei feedback oppure hanno tra il 5% ed il 20% di attivita' non portate a termine. </p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
            <tr><th>ID</th>
              <th>Nome</th>
            </tr></thead>
            <tbody>
            <% yellows.each do |yellow_user| %>
                <tr>
                  <td><%= user_id_link(yellow_user) %></td>
                  <td><%= user_name_link(yellow_user) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Pazienti DEVOTI</h4>
          <p class="category">Sono coloro che stanno seguendo le attivita' come da programma. </p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
            <tr><th>ID</th>
              <th>Name</th>
            </tr></thead>
            <tbody>
            <% greens.each do |green_user| %>
                <tr>
                  <td><%= user_id_link(green_user) %></td>
                  <td><%= user_name_link(green_user) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>