<header class="profile_content_header mdl-layout__header">

  <div class="mdl-layout__header-row">
    <nav class="mdl-navigation" >

      <%= link_to activities_path, class: 'mdl-navigation__link' do %>
          <button id="activities-all" class="activities-menu-btn mdl-button mdl-js-button mdl-button--raised">
            <i class="material-icons">featured_play_list</i> &nbsp Tutte
          </button>
      <% end %>

      <%= link_to diets_activities_path, remote: true, class: 'mdl-navigation__link' do %>
          <button id="activities-diets" class="activities-menu-btn mdl-button mdl-js-button mdl-button--raised">
            <i class="material-icons">restaurant</i> &nbsp Diete
          </button>
      <% end %>

      <%= link_to physicals_activities_path, remote: true, class: 'mdl-navigation__link' do %>
          <button id="activities-physicals" class="activities-menu-btn mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">fitness_center</i> &nbsp Fisiche
          </button>
      <% end %>

      <%= link_to mentals_activities_path, remote: true, class: 'mdl-navigation__link' do %>
          <button id="activities-mentals" class="activities-menu-btn mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">mood</i> &nbsp Benessere Mentale
          </button>
      <% end %>

      <%= link_to medicinals_activities_path, remote: true, class: 'mdl-navigation__link' do %>
          <button id="activities-medicinals" class="activities-menu-btn mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">local_hospital</i> &nbsp Medicinali
          </button>
      <% end %>

      <%= link_to others_activities_path, remote: true, class: 'mdl-navigation__link' do %>
          <button id="activities-others" class="activities-menu-btn mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">grain</i> &nbsp Altro
          </button>
      <% end %>


    </nav>
  </div>
</header>