<%= render 'activities/header' %>
<div class="mdl-grid new-activity-grid">
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">

    <div class="mycard">
      <div class="activity-insert-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Inserisci i dati delle nuova attivita</h2>
        </div>


        <div class="mdl-card__supporting-text">
          Tutti i campi sono obbligatori!
          <div class="insert-error-msg"><%= yield(:insert_error_msg) %></div>
          <%= form_for @activity, url: activities_path, method: 'post' do |f| %>
              <%= f.hidden_field :id%>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <%= f.label :name, 'Nome', class: 'mdl-textfield__label' %>
                <%= f.text_field :name, class: 'mdl-textfield__input' %>
              </div>


              <div class="activity-type">
                <% a_types = %w(Giornaliera Settimanale Mensile)%>
                <% a_types.unshift('') %>

                <div>
                  <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <%= f.select :a_type, options_for_select(a_types), {}, {class: 'mdl-selectfield__select'} %>
                    <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
                    <label class="mdl-selectfield__label">Tipologia Attivita</label>
                  </div>
                </div>

                <% if false %>
                    <%= f.label :a_type, 'Tipologia attivita: '%>
                    <%= f.radio_button :a_type, 'daily', :checked => true %>
                    <%= label :a_type, 'Giornaliera' %>
                    <%= f.radio_button :a_type, 'weekly' %>
                    <%= label :a_type, 'Settimanale' %>
                    <%= f.radio_button :a_type, 'monthly' %>
                    <%= label :a_type, 'Mensile' %>
                <% end %>

              </div>

              <div id="volte-con-es" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <%= f.label :n_times, 'Volte per Tipologia (Es. 2 = 2 volte a settimana se tipologia e settimanale)', class: 'mdl-textfield__label' %>
                <%= f.text_field :n_times, class: 'mdl-textfield__input', type: 'number' %>
              </div>

              <div class="category">
                <% categories = ['Dieta', 'Attivita Fisica', 'Benessere Mentale', 'Medicina', 'Altro']%>
                <% categories.unshift('') %>

                <div>
                  <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <%= f.select :category, options_for_select(categories), {}, {class: 'mdl-selectfield__select'} %>
                    <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
                    <label class="mdl-selectfield__label">Categoria Attivita</label>
                  </div>
                </div>

                <% if false %>
                    <%= f.label :category, 'Categoria attivita: '%>
                    <%= f.radio_button :category, 'health', :checked => true, 'data-other-category' => 'false' %>
                    <%= label :category, 'Salute' %>
                    <%= f.radio_button :category, 'physical', 'data-other-category' => 'false' %>
                    <%= label :category, 'Attivita fisica' %>
                    <%= f.radio_button :category, 'mental', 'data-other-category' => 'false' %>
                    <%= label :category, 'Benessere mentale' %>
                    <%= f.radio_button :category, 'medicine', 'data-other-category' => 'false' %>
                    <%= label :category, 'Medicina' %>
                    <%= f.radio_button :category, 'other', 'data-other-category' => 'true' %>
                    <%= label :category, 'Altro' %>
                <% end %>
              </div>

              <div id="new-category-input" class="activity-category-other">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                  <%= f.label :category, 'Nuova categoria', class: 'mdl-textfield__label' %>
                  <%= f.text_field :category, class: 'mdl-textfield__input' %>
                </div>
              </div>


              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :desc, 'Descrizione', class: 'mdl-textfield__label' %>
                <%= f.text_area :desc, class: 'mdl-textfield__input' %>
              </div>


              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit">
                <i class="material-icons">add</i> &nbsp Aggiungi nuova attivita
              </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
