<% provide(:title, "Profile") %>

<div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <%= render 'profile/header' %>
  <%= render 'profile/drawer' %>

  <main class="mdl-layout__content mdl-color--grey-100">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="mdl-grid">

      <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <figure class="mdl-card__media">
          <%= image_tag('welcome-card.jpg', :alt => 'welcome') %>
        </figure>

        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Coching and Monitoring Platform</h2>
        </div>

        <div class="mdl-card__supporting-text">
          <p>CoachAI e' la piattaforma che ti aiuta a monitorare i tuoi patienti
            direttamente da casa attraverso un Bot.
          </p>
        </div>

      </div>


    </div>

    <%= render 'profile/footer' %>
  </main>
</div>

