<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | CoachAI</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons', type: 'text/css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>