<!doctype html>
<html>
  <head>
    <title>Activity PDF</title>
    <meta charset='utf-8' />
    <% if false %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64('application') %>
    <%= javascript_include_tag wicked_pdf_asset_base64('application') %>
        <% end %>

    <%= wicked_pdf_stylesheet_link_tag 'application' -%>
    <%= wicked_pdf_javascript_include_tag 'application' %>

  </head>

  <body>

    <div>
      <%= yield %>
    </div>


  </body>
</html>

