<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <!--<div class="se-pre-con"></div>-->
    <div class="layout mdl-layout extra_scroll_disabled mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <!-- Cell Profile Header -->
      <%= cell(:profile_header, current_coach_user, title: yield(:title)) %>


      <!-- Cell Profile Left Drawer -->
      <%= cell(:drawer, current_coach_user) %>

      <main id="main-container" class="main-container mdl-layout__content">

        <!-- Cell with Messages like Error/Success/Info -->
        <%= cell(:messages, flash) %>

        <div class="patients-content" id="sub-container">
          <%= yield %>

        </div>

      </main>

      <!-- Cell Footer -->
      <%= cell(:footer, 'footer') %>
    </div>
  </body>
</html>