
<%= render 'users/edit_header' %>

<div class="mdl-grid new-activity-grid">
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="new-activity-container">
      <div class="mycard">
        <div id="activity-insert-card-wide" class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Scegli un'attivita gia presente nel sistema </h2>
          </div>


          <div id="assign_table" class="mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Nome Attivita</th>
                <th>Categoria</th>
                <th>Tipologia</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @activities.each do |a| %>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"> <%= a.name %> </td>
                    <td> <%= match_category(a.category) %> </td>
                    <td> <%= match_a_type(a.category) %> </td>
                    <td><%= link_to 'Vedi Attivita', activity_path(a), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %> </td>
                    <td>
                      <%= link_to 'Assegna Attivita', plannings_path(:a_id => a.id, :p_id => @plan.id, :u_id => @user.id) ,
                                  method: 'post', class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div><br>

        <div class="mycard">
          <div id="activity-insert-card-wide" class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Oppure inserisci una nuova attivita</h2>
            </div>


            <div class="mdl-card__supporting-text">
              Tutti i campi sono obbligatori!
              <div class="insert-error-msg"><%= yield(:insert_error_msg) %></div>
              <%= form_for @activity, url: plannings_path(:new => true, :p_id => @plan.id, :u_id => @user.id), method: 'post' do |f| %>
                  <%= f.hidden_field :id%>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    <%= f.label :name, 'Nome', class: 'mdl-textfield__label' %>
                    <%= f.text_field :name, class: 'mdl-textfield__input' %>
                  </div>


                  <div class="activity-type">
                    <% a_types = [['', ''],['Giornaliera', 0], ['Settimanale', 1], ['Mensile', 2]]%>

                    <div>
                      <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                        <%= f.select :a_type, options_for_select(a_types), {}, {class: 'mdl-selectfield__select'} %>
                        <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
                        <label class="mdl-selectfield__label">Tipologia Attivita</label>
                      </div>
                    </div>
                  </div>


                  <div id="volte-con-es" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    <%= f.label :n_times, 'Volte per Tipologia (Es. 2 = 2 volte a settimana se tipologia e settimanale)', class: 'mdl-textfield__label' %>
                    <%= f.text_field :n_times, class: 'mdl-textfield__input', type: 'number' %>
                  </div>

                  <div class="category">
                    <% categories = [['', ''], ['Dieta', 0], ['Attivita Fisica', 1], ['Benessere Mentale', 2], ['Medicina', 3], ['Altro', 4]]%>

                    <div>
                      <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                        <%= f.select :category, options_for_select(categories), {}, {class: 'mdl-selectfield__select'} %>
                        <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
                        <label class="mdl-selectfield__label">Categoria Attivita</label>
                      </div>
                    </div>

                  </div>


                  <div class="activity-desc-container mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                    <%= f.label :desc, 'Descrizione', class: 'mdl-textfield__label' %>
                    <%= f.text_area :desc, class: 'mdl-textfield__input activity-desc' %>
                  </div>



                  <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit">
                      <i class="material-icons">add</i> &nbsp Aggiungi nuova attivita
                    </button>
                  </div>

              <% end %>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
</div>



